
# 🌼 기초 프로그래밍 및 데이터 구조 - 2차시(24.10.24)

---

## 1. 파이썬 자료형

파이썬에서 자주 사용되는 자료형:

- `정수형(Integer)`  
정수를 나타내는 자료형 (int)  

- `실수형(Float)`  
실수를 나타내는 자료형 (float)  

- `문자열(String)`  
문자를 나타내는 자료형 (str)  

- `불형(Boolean)`  
참(True)과 거짓(False)을 나타내는 자료형 (bool)

## 2. 정수형과 실수형

정수형(`int`)과 실수형(`float`)은 숫자를 표현하는 자료형.
- 정수형은 소수점이 없는 숫자를, 실수형은 소수점이 있는 숫자를 나타냄

In [1]:
a=10
b=3.141592
c=100.0
d=-3
e=-8.5

In [3]:
print(f'a : {a}, 자료형 : {type(a)}')

a : 10, 자료형 : <class 'int'>

In [4]:
print(f'b : {b}, 자료형 : {type(b)}')

b : 3.141592, 자료형 : <class 'float'>

In [5]:
print(f'c : {c}, 자료형 : {type(c)}')

c : 100.0, 자료형 : <class 'float'>

In [6]:
print(f'd : {d}, 자료형 : {type(d)}')

d : -3, 자료형 : <class 'int'>

In [7]:
print(f'e: {e}, 자료형 : {type(e)}')

e: -8.5, 자료형 : <class 'float'>

### 정수와 실수 간 형변환

In [8]:
a

10

In [9]:
# 정수형 a를 실수형으로 형 변환
f = float(a)
print(f)

10.0

In [11]:
# 실수형 b를 정수형으로 형 변환
i = int(b)
print(f'변환된 b의 값: {i}, 자료형 : {type(i)}')

변환된 b의 값: 3, 자료형 : <class 'int'>

### 기본 산술 연산

In [12]:
A=2
B=-5
C=9
D=45
E=10

### 덧셈

In [27]:
print(f'{A} 더하기 {C}는 {A+C}입니다.') # 2+9

2 더하기 9는 11입니다.

### 뺄셈

In [26]:
print(f'{C} 빼기 {A}는 {C-A}입니다.') # 9-2

9 빼기 2는 7입니다.

### 곱셈

In [25]:
print(f'{C} 곱하기 {E}은 {C*E}입니다.') # 9*10

9 곱하기 10은 90입니다.

### 나눗셈

In [24]:
print(f'{D} 나누기 {C}는 {D/C}입니다.') # 45/9

45 나누기 9는 5.0입니다.

### 나머지

In [19]:
F=10
G=3

In [28]:
print(f'{F}를 {G}로 나누었을 때 나머지는 {F%G}입니다.') # 10%3

10를 3로 나누었을 때 나머지는 1입니다.

### 몫

In [29]:
print(f'{F}를 {G}로 나누었을 때 몫은 {F//G}입니다.') # 10//3

10를 3로 나누었을 때 몫은 3입니다.

### 거듭제곱

In [32]:
print(f'{G}의 거듭제곱은 {G**3}입니다.') # 3^3

3의 거듭제곱은 27입니다.


## 3. 문자열(String)

문자열(`str`)은 문자의 집합  
문자열은 작은따옴표(' ') 또는 큰따옴표(" ")로 묶어 표현할 수 있음

In [1]:
str = 'python'

In [2]:
print(str)

python

In [3]:
str2 = 'string'

In [4]:
print(str2)

string

In [6]:
str2 = "string,"

In [7]:
print(str2)

string,

In [8]:
# 작은 따옴표로 시작해서 큰 따옴표로 끝나면 오류가 발생함
print('")

SyntaxError: EOL while scanning string literal (1526924999.py, line 1)

In [10]:
sent = """그녀는 말했다. '나는 배가 고파'"""

In [11]:
print(sent)

그녀는 말했다. '나는 배가 고파'

### 연결

In [12]:
str1 = 'Hello'
str2 = 'World'

In [13]:
str1+str2

'HelloWorld'

In [14]:
str3 = str1+' '+str2
str3

'Hello World'

### 반복

In [18]:
# 띄어쓰기를 넣고 싶다면 더하기로 추가
# 단, 괄호로 처리해줘야 한다
str4 = (str1 + ' ')*3
print(str4)

Hello Hello Hello

### 인덱싱

In [19]:
str3[0]

'H'

In [20]:
str3[1]

'e'

In [21]:
str3[2]

'l'

In [22]:
# 뒤에서부터 세려면 마이너스로
str3[-1]

'd'

### 슬라이싱

In [23]:
str3

'Hello World'

In [25]:
# 원하는 자릿수에 +1까지 범위 지정
str3[0:5]

'Hello'

In [30]:
str3[6:11]

'World'

In [33]:
# 맨 마지막은 생략 가능
str3[6:]

'World'

In [35]:
# 첫 번째도 생략 가능
str3[:5]

'Hello'

In [36]:
# 맨 뒤는 step, 몇 칸을 건너서 출력할건지 지정
str3[::2]

'HloWrd'

In [37]:
str3[::3]

'HlWl'

### 이스케이프 코드
<img src='./이스케이프코드.png'>

In [39]:
# 하나만 입력하면 문자열이 끝나지 않았다는 오류 발생
# 백슬래시는 파이썬에서 경로를 나타내는 문자이므로 예외 사항
print('\')

SyntaxError: EOL while scanning string literal (2609027240.py, line 2)

In [40]:
print('\\')

\

In [43]:
st ='hi, \'hi\''
print(st)

hi, 'hi'

In [44]:
print('줄바꿈\n줄바꿈')

줄바꿈
줄바꿈

In [45]:
print('띄어쓰기 네칸\t사용합니다')

띄어쓰기 네칸	사용합니다

### 길이 구하기

In [46]:
len_str ='객체의길이반환'

In [48]:
length = len(len_str)
length

7

- 간장 공장 공장장은 강 공장장이고 된장 공장 공장장은 장 공장장이다

In [49]:
len_str2 = '간장 공장 공장장은 강 공장장이고 된장 공장 공장장은 장 공장장이다'

In [50]:
len(len_str2)

37

In [51]:
print(f'len_str2의 길이는 {len(len_str2)}입니다.')

len_str2의 길이는 37입니다.

### 그 외 문자열의 내장함수
1. upper(), lower()
2. strip()
3. replace()
4. split()

In [52]:
a = 'apple'
b = 'BANANA'

In [55]:
# upper(a) 라고 사용할 수 없음
a.upper()

'APPLE'

In [56]:
b.lower()

'banana'

In [60]:
# 양쪽에 있는 것들만 지운다
c = '고라고니고'
c.strip('고')

'라고니'

In [61]:
d = '기러기'
d.strip('기')

'러'

In [62]:
e = '아파트'
e.strip('트')

'아파'

In [63]:
f = 'text'
print(f)

text

In [64]:
f.replace('x', 's')

'test'

In [67]:
f.replace('x', '')

'tet'

In [69]:
n = 'Hello,World'

In [70]:
n.split(',')

['Hello', 'World']

In [71]:
m = '띄어쓰기 기준으로 나누기'

In [72]:
m.split(' ')

['띄어쓰기', '기준으로', '나누기']

### Q1. 주어진 문자열을 모두 대문자로 변환해 출력해보세요
- i love python
- this is so easy

In [73]:
a11 = 'i love python'
a11.upper()

'I LOVE PYTHON'

In [74]:
a12 = 'this is so easy'
a12.upper()

'THIS IS SO EASY'

### Q2. 주어진 문자열을 대문자로 변환해 출력해주세요
- pneumonoultramicroscopicsilicovolcanoconiosis

In [75]:
a2 = 'pneumonoultramicroscopicsilicovolcanoconiosis'
a2.upper()

'PNEUMONOULTRAMICROSCOPICSILICOVOLCANOCONIOSIS'

### Q3. 양 끝에 공백이 있는 문자열에서 공백을 제거한 뒤 출력해주세요
-                공백 지우기

In [82]:
a3 = '               공백 지우기             '
a3.strip(' ')

'공백 지우기'

### Q4. 문자열에서 앞 뒤 쉼표를 제거한 후 문자열의 길이를 출력해보세요
- ,,,,,the weather is good today,,,,,

In [77]:
a4 = ',,,,,the weather is good today,,,,,'
len(a4.strip(','))

25

### Q5. 문장에서 apple을 peach로 바꿔보세요
- I love apple

In [78]:
a5 = 'I love apple'
a5.replace('apple', 'peach')

'I love peach'

### Q6. 문장에서 공백을 언더바(_)로 바꿔보세요
- Fill in the gaps in this sentence

In [79]:
a6 = 'Fill in the gaps in this sentence'
a6.replace(' ', '_')

'Fill_in_the_gaps_in_this_sentence'

### Q7. 문장을 쉼표 기준으로 분할한 후 결과를 출력하세요
- 고양이, 강아지, 햄스터

In [80]:
a7 = '고양이, 강아지, 햄스터'
a7.split(',')

['고양이', ' 강아지', ' 햄스터']

### Q8. 문장에서 is를 was로 바꾸고 문자열을 소문자로 변환해보세요
- Python is fun. Python is interesting.

In [81]:
a8 = 'Python is fun. Python is interesting'
(a8.replace('is', 'was')).lower()

'python was fun. python was interesting'

### 문자열 포매팅
- % 연산자 포매팅

In [88]:
weather = '흐림'

In [89]:
temp = 20

In [90]:
# %
print('오늘 날씨는 %s이고 기온은 %d도 입니다.' % (weather, temp))

오늘 날씨는 흐림이고 기온은 20도 입니다.

In [92]:
# format 함수
print('오늘 날씨는 {}이고 기온은 {}도 입니다.'.format(weather, temp))

오늘 날씨는 흐림이고 기온은 20도 입니다.

In [93]:
# f-string
print(f'오늘 날씨는 {weather}이고 기온은 {temp}도 입니다.')

오늘 날씨는 흐림이고 기온은 20도 입니다.

In [100]:
movie_title = '베테랑2'
seats = 4
price = 20000 * seats

In [101]:
print('영화 %s의 %d좌석을 예매하셨습니다. 총 가격은 %d원입니다.' % (movie_title, seats, price))

영화 베테랑2의 4좌석을 예매하셨습니다. 총 가격은 80000원입니다.

In [102]:
print('영화 {}의 {}좌석을 예매하셨습니다. 총 가격은 {}원입니다.'.format(movie_title, seats, price))

영화 베테랑2의 4좌석을 예매하셨습니다. 총 가격은 80000원입니다.

In [103]:
print(f'영화 {movie_title}의 {seats}좌석을 예매하셨습니다. 총 가격은 {price}원입니다.')

영화 베테랑2의 4좌석을 예매하셨습니다. 총 가격은 80000원입니다.

### Q1. 섭씨 온도를 입력 받아, 해당 온도를 화씨로 변환한 값을 출력하세요. 
섭씨를 화씨로 변환하는 공식은 F = C * 9/5 + 32입니다. 
세 가지 문자열 포매팅 방식으로 결과를 출력하세요

In [1]:
C = 20
F = C * 9/5 + 32

In [2]:
# %
print('섭씨 %d도는 화씨 %.1f도 입니다.' % (C, F))

섭씨 20도는 화씨 68.0도 입니다.

In [3]:
# format
# {:f} > 소수점 모든 자릿수까지 출력
# {:.2f} > 소수점 두 번째 자리까지 출력
print('섭씨 {}도는 화씨 {}도 입니다.'.format(C, F))

섭씨 20도는 화씨 68.0도 입니다.

In [5]:
# f
# {F:.1f} > 소수점 두 번째 자리까지 출력
print(f'섭씨 {C}도는 화씨 {F}도 입니다')

섭씨 20도는 화씨 68.0도 입니다

### Q2. 운전 중인 자동차의 속도와 제한 속도를 입력받아, 과속 여부를 판단하는 문장을 출력하세요.

In [129]:
curren = float(input('현재 속도롤 입력하세요: '))
limit = float(input('제한 속도를 입력하세요: '))

In [130]:
# %
print('현재 속도는 %dkm/h로, 제한속도 %dkm/h를 초과했습니다!' % (curren, limit))

현재 속도는 120km/h로, 제한속도 50km/h를 초과했습니다!

In [131]:
# format
print('현재 속도는 {}km/h로, 제한 속도 {}km/h를 초과했습니다!'.format(curren, limit))

현재 속도는 120.0km/h로, 제한 속도 50.0km/h를 초과했습니다!

In [132]:
# f
print(f'현재 속도는 {curren}km/h로, 제한 속도 {limit}km/h를 초과했습니다!')

현재 속도는 120.0km/h로, 제한 속도 50.0km/h를 초과했습니다!

### Q3. 사용자가 주문한 음료와 가격을 입력받아, 주문 내역을 출력하세요. 음료는 10% 할인됩니다
10% 할인된 금액을 계산해서 같이 출력하세요.

In [121]:
drink = '커피'
num = 1
price = 4500 * num
dc_price = price * 0.9 * num

In [122]:
# %
print('%s %d의 원래 가격은 %d원이고, 할인된 가격은 %d원입니다.' % (drink, num, price, dc_price))

커피 1의 원래 가격은 4500원이고, 할인된 가격은 4050원입니다.

In [123]:
# format
print('{} {}잔의 원래 가격은 {}원이고, 할인된 가격은 {}원입니다.'.format(drink, num, price, dc_price))

커피 1잔의 원래 가격은 4500원이고, 할인된 가격은 4050.0원입니다.

In [124]:
# f
print(f'{drink} {num}잔의 가격은 {price}원이고, 할인된 가격은 {dc_price}원입니다.')

커피 1잔의 가격은 4500원이고, 할인된 가격은 4050.0원입니다.


## 4. 불형(Boolean)

불형(`bool`)은 논리값인 참(True)과 거짓(False)  
주로 조건문에서 사용됨

In [133]:
# 불형 예시
student = True
teacher = False

In [134]:
print(f'student의 값: {student}, 자료형: {type(student)}')

student의 값: True, 자료형: <class 'bool'>

In [135]:
print(f'teacher의 값: {teacher}, 자료형: {type(teacher)}')

teacher의 값: False, 자료형: <class 'bool'>

### 비교연산자

In [136]:
A = 3
B = 5
C = 8

In [137]:
A==B

False

In [138]:
B!=C

True

In [139]:
A>B

False

In [141]:
B<=C

True

In [143]:
a = 5
b = 10
result = a==b
print(result)

False

In [146]:
a = int(input('아무 값이나 입력하세요. 단, 숫자로: '))
b = 50

result = a==b
print(result)

True

In [147]:
age = int(input('나이를 입력하세요: '))
result = age>= 18
print(result)

True

In [149]:
x = int(input('아무 숫자를 입력하세요: '))
result = 10 <= x <= 20
print(result)

False

### 논리연산자

In [150]:
print(f'AND 연산자: {student and teacher}')

AND 연산자: False

In [151]:
print(f'OR 연산자: {student or teacher}')

OR 연산자: True

In [155]:
print(f'NOT 연산자: {not teacher}')

NOT 연산자: True

In [158]:
x = 12
y = 15
result = x >= 10 and y >= 10
result

True

In [159]:
a = -5
b = 10
result = a>0 or b>0
result

True

In [160]:
x = 5
result = not (x==0)
result

True

In [161]:
text = 'python'
result = len(text)>=5
result

True

### Q1. 사용자에게 입력 받은 숫자 'x'의 값이 짝수인지 확인하여 결과를 출력해주는 연산을 만들어보세요

In [162]:
x = int(input('아무 숫자나 입력하세요.'))
result = x%2==0

print(result)

False

### Q2. 사용자에게 입력 받은 숫자 'x'의 값이 음수인지 확인하여 결과를 출력해주는 연산을 만들어보세요

In [182]:
x = int(input('아무 숫자나 입력하세요.'))
result = x<0

print(result)

True

### Q3. 사용자에게 입력 받은 숫자 'x'의 값이 0 이상 100 이하의 범위에 있는지 결과를 출력해주는 연산을 만들어보세요

In [166]:
x = int(input('아무 숫자나 입력하세요.'))
result = 0 <= x <= 100

print(result)

False

### Q4. 로그인 확인하기, 사용자가 입력한 username과 password가 저장된 username = 'python' password = 123 값과 일치하는지 확인하세요.

In [183]:
un = input('아이디를 입력하세요.')
pw = int(input('비밀번호를 입력하세요.'))

username = 'python'
password = 123

result = username==un and password==pw
print(result)

True


## 🌼마무리 문제

아래 문제들을 풀어보세요!

Q1. 사용자로부터 이름과 나이를 `입력받아`, "안녕하세요, '이름'님. 당신은 '나이'세 이시군요!"라고 출력하는 코드를 작성해보세요

In [174]:
name = input('이름을 입력해주세요.')
age = int(input('나이를 입력해주세요.'))

print(f'안녕하세요, {name}님! 당신은 {age}세이시군요!')

안녕하세요, 김현서님! 당신은 24세이시군요!

Q2. 문자열을 입력받아 그 문자열을 `뒤집어서` 출력하는 코드를 작성해보세요

In [175]:
text = input('문자열을 입력해주세요')
print(text[-1::-1])

aisa htuos

Q3. BMI(체질량지수)를 계산하는 프로그램을 작성하세요.  
사용자로부터 키(m)와 체중(kg)을 `입력받아` 계산 후 출력하세요.  
`*BMI계산법 : 체중(kg) / (키(m) x 키(m))`

In [178]:
height = float(input('키를 입력해주세요.'))
weight = float(input('체중을 입력해주세요.'))

height /= 100
BMI = weight / (height * height)

print(f'당신의 BMI는 {BMI}입니다.')

당신의 BMI는 21.34입니다.