
# ğŸŒ¼ ê¸°ê³„í•™ìŠµ ë° ë°ì´í„° ì „ì²˜ë¦¬ - 1ì°¨ì‹œ(24.10.31)

---

## 1. pandas ë¼ì´ë¸ŒëŸ¬ë¦¬

pandas ë¼ì´ë¸ŒëŸ¬ë¦¬ ì„¤ì¹˜ì™€ ë¶ˆëŸ¬ì˜¤ê¸°

- pip install pandas
- import pandas as pd

ì—¬ê¸°ì„œ import : ë¶ˆëŸ¬ì˜¨ë‹¤, as : ~ë¡œ  
-> pdë¼ëŠ” ì´ë¦„ìœ¼ë¡œ pandas ë¼ì´ë¸ŒëŸ¬ë¦¬ë¥¼ ë¶ˆëŸ¬ì˜¨ë‹¤.

In [2]:
# pip install pandas

In [3]:
import pandas as pd

## 2. ë°ì´í„°í”„ë ˆì„
### 2-1. ë°ì´í„°í”„ë ˆì„ì˜ êµ¬ì¡°
- í‘œ, tableê³¼ ë¹„ìŠ·í•œ í˜•íƒœ
- ë¦¬ìŠ¤íŠ¸, ë”•ì…”ë„ˆë¦¬ ë“±ì„ ì´ìš©í•˜ì—¬ ë°ì´í„°í”„ë ˆì„ì„ ìƒì„±í•  ìˆ˜ ìˆìŒ
- êµ¬ì¡°í™”ëœ ë°ì´í„°ë¥¼ ë‹¤ë£¨ëŠ” 2ì°¨ì› í…Œì´ë¸” í˜•ì‹ì˜ ë°ì´í„° êµ¬ì¡°

In [4]:
data = [
    [1, 'ìˆ˜ë¹ˆ', 90],
    [2, 'ì˜ˆì›', 80],
    [3, 'ë„í™˜', 70]
]

In [5]:
df = pd.DataFrame(data, columns=['ID', 'ì´ë¦„', 'ì ìˆ˜'])

In [6]:
df

   ID  ì´ë¦„  ì ìˆ˜
0   1  ìˆ˜ë¹ˆ  90
1   2  ì˜ˆì›  80
2   3  ë„í™˜  70

In [7]:
# ë”•ì…”ë„ˆë¦¬ë¡œ ìƒì„±
data = [
    {'ID': 1, 'ì´ë¦„': 'ì¹´ë¦¬ë‚˜'},
    {'ID': 2, 'ì´ë¦„': 'ìœˆí„°'},
    {'ID': 3, 'ì´ë¦„': 'ë‹ë‹'}
]

In [8]:
df = pd.DataFrame(data)

In [9]:
df

   ID   ì´ë¦„
0   1  ì¹´ë¦¬ë‚˜
1   2   ìœˆí„°
2   3   ë‹ë‹

In [10]:
# ê°’ì´ ë¦¬ìŠ¤íŠ¸ì¸ ë”•ì…”ë„ˆë¦¬ë¡œ ìƒì„±
data = {
    'ê³ ê°ID': [101, 102, 103, 104, 105],
    'ì´ë¦„': ['í•´ë¦°', 'í˜œì¸', 'í•˜ë‹ˆ', 'ë‹¤ë‹ˆì—˜', 'ë¯¼ì§€'],
    'ë‚˜ì´': [18, 16, 19, 19, 20],
    'ê¸ˆì•¡': [25000, 30000, 15000, 50000, 100000],
    'êµ¬ë§¤íšŸìˆ˜': [1, 2, 1, 4, 5]
}

In [11]:
df = pd.DataFrame(data)

In [12]:
df

   ê³ ê°ID   ì´ë¦„  ë‚˜ì´      ê¸ˆì•¡  êµ¬ë§¤íšŸìˆ˜
0   101   í•´ë¦°  18   25000     1
1   102   í˜œì¸  16   30000     2
2   103   í•˜ë‹ˆ  19   15000     1
3   104  ë‹¤ë‹ˆì—˜  19   50000     4
4   105   ë¯¼ì§€  20  100000     5

In [13]:
df = pd.DataFrame(data, index=range(5, 10))
df

   ê³ ê°ID   ì´ë¦„  ë‚˜ì´      ê¸ˆì•¡  êµ¬ë§¤íšŸìˆ˜
5   101   í•´ë¦°  18   25000     1
6   102   í˜œì¸  16   30000     2
7   103   í•˜ë‹ˆ  19   15000     1
8   104  ë‹¤ë‹ˆì—˜  19   50000     4
9   105   ë¯¼ì§€  20  100000     5

In [14]:
df = pd.DataFrame(data, index=['row1', 'row2', 'row3', 'row4', 'row5'])
df

      ê³ ê°ID   ì´ë¦„  ë‚˜ì´      ê¸ˆì•¡  êµ¬ë§¤íšŸìˆ˜
row1   101   í•´ë¦°  18   25000     1
row2   102   í˜œì¸  16   30000     2
row3   103   í•˜ë‹ˆ  19   15000     1
row4   104  ë‹¤ë‹ˆì—˜  19   50000     4
row5   105   ë¯¼ì§€  20  100000     5

### 2-2. ë°ì´í„°í”„ë ˆì„ í™•ì¸í•˜ê¸°
- head : ìƒìœ„ 5ê°œ í–‰ ì¶œë ¥
- info : ì—´ê³¼ ë°ì´í„° íƒ€ì…, ë©”ëª¨ë¦¬ ì‚¬ìš©ëŸ‰ ë“± ì •ë³´ ì¶œë ¥
- describe : ìˆ˜ì¹˜í˜• ë°ì´í„°ì˜ í‰ê· , í‘œì¤€í¸ì°¨, ìµœì†Ÿê°’, ìµœëŒ“ê°’ ë“± ê¸°ë³¸ í†µê³„ì •ë³´ ì¶œë ¥

In [15]:
df.head(3)

      ê³ ê°ID  ì´ë¦„  ë‚˜ì´     ê¸ˆì•¡  êµ¬ë§¤íšŸìˆ˜
row1   101  í•´ë¦°  18  25000     1
row2   102  í˜œì¸  16  30000     2
row3   103  í•˜ë‹ˆ  19  15000     1

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, row1 to row5
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ê³ ê°ID    5 non-null      int64
 1   ì´ë¦„      5 non-null      object
 2   ë‚˜ì´      5 non-null      int64
 3   ê¸ˆì•¡      5 non-null      int64
 4   êµ¬ë§¤íšŸìˆ˜    5 non-null      int64
dtypes: int64(4), object(1)
memory usage: 240.0+ bytes

In [17]:
df.describe()

             ê³ ê°ID         ë‚˜ì´             ê¸ˆì•¡     êµ¬ë§¤íšŸìˆ˜
count    5.000000   5.000000       5.000000  5.00000
mean   103.000000  18.400000   44000.000000  2.60000
std      1.581139   1.516575   33800.887562  1.81659
min    101.000000  16.000000   15000.000000  1.00000
25%    102.000000  18.000000   25000.000000  1.00000
50%    103.000000  19.000000   30000.000000  2.00000
75%    104.000000  19.000000   50000.000000  4.00000
max    105.000000  20.000000  100000.000000  5.00000

### 2-3. ë°ì´í„° ì„ íƒí•˜ê¸°
- loc : ì¸ë±ìŠ¤ ë¼ë²¨ì„ ê¸°ì¤€ìœ¼ë¡œ ë°ì´í„° ì„ íƒ
- iloc : ì¸ë±ìŠ¤ ë²ˆí˜¸ë¥¼ ê¸°ì¤€ìœ¼ë¡œ ë°ì´í„° ì„ íƒ

In [18]:
df['ì´ë¦„']

row1     í•´ë¦°
row2     í˜œì¸
row3     í•˜ë‹ˆ
row4    ë‹¤ë‹ˆì—˜
row5     ë¯¼ì§€
Name: ì´ë¦„, dtype: object

In [19]:
df[['ì´ë¦„', 'ê¸ˆì•¡']]

       ì´ë¦„      ê¸ˆì•¡
row1   í•´ë¦°   25000
row2   í˜œì¸   30000
row3   í•˜ë‹ˆ   15000
row4  ë‹¤ë‹ˆì—˜   50000
row5   ë¯¼ì§€  100000

In [20]:
# loc, iloc
df.loc['row1']

ê³ ê°ID      101
ì´ë¦„         í•´ë¦°
ë‚˜ì´         18
ê¸ˆì•¡      25000
êµ¬ë§¤íšŸìˆ˜        1
Name: row1, dtype: object

In [21]:
df.iloc[0]

ê³ ê°ID      101
ì´ë¦„         í•´ë¦°
ë‚˜ì´         18
ê¸ˆì•¡      25000
êµ¬ë§¤íšŸìˆ˜        1
Name: row1, dtype: object

In [22]:
df.loc[['row1', 'row3']]

      ê³ ê°ID  ì´ë¦„  ë‚˜ì´     ê¸ˆì•¡  êµ¬ë§¤íšŸìˆ˜
row1   101  í•´ë¦°  18  25000     1
row3   103  í•˜ë‹ˆ  19  15000     1

In [23]:
df.iloc[[0, 2]]

      ê³ ê°ID  ì´ë¦„  ë‚˜ì´     ê¸ˆì•¡  êµ¬ë§¤íšŸìˆ˜
row1   101  í•´ë¦°  18  25000     1
row3   103  í•˜ë‹ˆ  19  15000     1

In [24]:
df.loc['row1', ['ì´ë¦„', 'ê¸ˆì•¡']]

ì´ë¦„       í•´ë¦°
ê¸ˆì•¡    25000
Name: row1, dtype: object

In [25]:
df.iloc[0, [1, 3]]

ì´ë¦„       í•´ë¦°
ê¸ˆì•¡    25000
Name: row1, dtype: object

In [26]:
# locëŠ” ë ê°’ì„ í¬í•¨
df.loc['row1':'row3']

      ê³ ê°ID  ì´ë¦„  ë‚˜ì´     ê¸ˆì•¡  êµ¬ë§¤íšŸìˆ˜
row1   101  í•´ë¦°  18  25000     1
row2   102  í˜œì¸  16  30000     2
row3   103  í•˜ë‹ˆ  19  15000     1

In [27]:
# ilocëŠ” ë ê°’ì„ í¬í•¨í•˜ì§€ ì•Šê¸° ë•Œë¬¸ì— +1 í•„ìš”, ìˆ«ì ê¸°ë°˜
df.iloc[0:3]

      ê³ ê°ID  ì´ë¦„  ë‚˜ì´     ê¸ˆì•¡  êµ¬ë§¤íšŸìˆ˜
row1   101  í•´ë¦°  18  25000     1
row2   102  í˜œì¸  16  30000     2
row3   103  í•˜ë‹ˆ  19  15000     1

In [28]:
df.loc['row1':'row3', ['ì´ë¦„', 'ê¸ˆì•¡', 'êµ¬ë§¤íšŸìˆ˜']]

      ì´ë¦„     ê¸ˆì•¡  êµ¬ë§¤íšŸìˆ˜
row1  í•´ë¦°  25000     1
row2  í˜œì¸  30000     2
row3  í•˜ë‹ˆ  15000     1

In [29]:
df.iloc[0:3, [1, 3, 4]]

      ì´ë¦„     ê¸ˆì•¡  êµ¬ë§¤íšŸìˆ˜
row1  í•´ë¦°  25000     1
row2  í˜œì¸  30000     2
row3  í•˜ë‹ˆ  15000     1

### Q. ì•„ë˜ ë°ì´í„°í”„ë ˆì„ì—ì„œ í•´ë‹¹í•˜ëŠ” ê°’ì„ ì°¾ì•„ ì¶œë ¥í•´ë³´ì„¸ìš”.

In [30]:
data = {
    'í•™ìƒ' : ['ì² ìˆ˜', 'ì§±êµ¬', 'í›ˆì´', 'ìœ ë¦¬', 'ìˆ˜ì§€', 'í°ë‘¥ì´', 'ì§±ì•„', 'ë§¹êµ¬', 'ë¯¸ë¦¬', 'ì„±ì•„'],
    'êµ­ì–´' : [88, 92, 76, 81, 95, 67, 80, 91, 85, 73],
    'ì˜ì–´' : [78, 85, 92, 88, 76, 84, 90, 81, 89, 80],
    'ìˆ˜í•™' : [90, 78, 82, 94, 87, 79, 83, 88, 76, 92],
    'ì‚¬íšŒ' : [85, 92, 88, 77, 91, 82, 90, 79, 84, 88],
    'ê³¼í•™' : [91, 79, 88, 85, 82, 90, 87, 94, 83, 86]
}
df = pd.DataFrame(data)
df

    í•™ìƒ  êµ­ì–´  ì˜ì–´  ìˆ˜í•™  ì‚¬íšŒ  ê³¼í•™
0   ì² ìˆ˜  88  78  90  85  91
1   ì§±êµ¬  92  85  78  92  79
2   í›ˆì´  76  92  82  88  88
3   ìœ ë¦¬  81  88  94  77  85
4   ìˆ˜ì§€  95  76  87  91  82
5  í°ë‘¥ì´  67  84  79  82  90
6   ì§±ì•„  80  90  83  90  87
7   ë§¹êµ¬  91  81  88  79  94
8   ë¯¸ë¦¬  85  89  76  84  83
9   ì„±ì•„  73  80  92  88  86

1. í›ˆì´ì˜ ìˆ˜í•™ì ìˆ˜ë¥¼ ì¶œë ¥í•´ë³´ì„¸ìš”

In [31]:
print(f'í›ˆì´ì˜ ìˆ˜í•™ ì ìˆ˜ëŠ” {df.loc[2, "ìˆ˜í•™"]}ì  ì…ë‹ˆë‹¤.')

í›ˆì´ì˜ ìˆ˜í•™ ì ìˆ˜ëŠ” 82ì  ì…ë‹ˆë‹¤.

2. ìœ ë¦¬ì˜ ì˜ì–´ì ìˆ˜ë¥¼ ì¶œë ¥í•´ë³´ì„¸ìš”

In [32]:
print(f'ìœ ë¦¬ì˜ ì˜ì–´ ì ìˆ˜ëŠ” {df.loc[3, "ì˜ì–´"]}ì  ì…ë‹ˆë‹¤.')

ìœ ë¦¬ì˜ ì˜ì–´ ì ìˆ˜ëŠ” 88ì  ì…ë‹ˆë‹¤.

3. í•™ìƒë“¤ì˜ ì‚¬íšŒ ì ìˆ˜ë§Œ ë³´ê¸° ìœ„í•´ í•´ë‹¹ ì—´ì„ ì„ íƒí•´ ì¶œë ¥í•´ë³´ì„¸ìš”

In [33]:
print(df.loc[:, ['í•™ìƒ', 'ì‚¬íšŒ']])

    í•™ìƒ  ì‚¬íšŒ
0   ì² ìˆ˜  85
1   ì§±êµ¬  92
2   í›ˆì´  88
3   ìœ ë¦¬  77
4   ìˆ˜ì§€  91
5  í°ë‘¥ì´  82
6   ì§±ì•„  90
7   ë§¹êµ¬  79
8   ë¯¸ë¦¬  84
9   ì„±ì•„  88

4. ì² ìˆ˜ë¶€í„° ìˆ˜ì§€ê¹Œì§€ì˜ ì˜ì–´ì™€ ê³¼í•™ ì ìˆ˜ë§Œ ì¶œë ¥í•´ë³´ì„¸ìš”

In [34]:
print(df.loc[:4, ['í•™ìƒ', 'ì˜ì–´', 'ê³¼í•™']])

   í•™ìƒ  ì˜ì–´  ê³¼í•™
0  ì² ìˆ˜  78  91
1  ì§±êµ¬  85  79
2  í›ˆì´  92  88
3  ìœ ë¦¬  88  85
4  ìˆ˜ì§€  76  82

5. í°ë‘¥ì´ë¶€í„° ì„±ì•„ê¹Œì§€ ëª¨ë“  ê³¼ëª©ì˜ ì ìˆ˜ë¥¼ ì¶œë ¥í•´ë³´ì„¸ìš”

In [35]:
print(df.loc[5:, :])

    í•™ìƒ  êµ­ì–´  ì˜ì–´  ìˆ˜í•™  ì‚¬íšŒ  ê³¼í•™
5  í°ë‘¥ì´  67  84  79  82  90
6   ì§±ì•„  80  90  83  90  87
7   ë§¹êµ¬  91  81  88  79  94
8   ë¯¸ë¦¬  85  89  76  84  83
9   ì„±ì•„  73  80  92  88  86

### 2-4. ë°ì´í„° ìˆ˜ì •í•˜ê¸°
- columns : ì „ì²´ ì»¬ëŸ¼ëª… ë³€ê²½í•˜ê¸°
- rename : ì„ íƒí•˜ì—¬ ì»¬ëŸ¼ëª… ë³€ê²½í•˜ê¸°

In [36]:
sample_data = {
    'alphabet': ['A', 'B', 'C'],
    'number': [1, 2, 3],
    'color': ['red', 'orange', 'yellow']
}

sample_df = pd.DataFrame(sample_data)
sample_df

  alphabet  number   color
0        A       1     red
1        B       2  orange
2        C       3  yellow

In [37]:
sample_df.columns

Index(['alphabet', 'number', 'color'], dtype='object')

In [38]:
sample_df.columns = ['ì•ŒíŒŒë²³', 'ë„˜ë²„', 'ì»¬ëŸ¬']
sample_df

  ì•ŒíŒŒë²³  ë„˜ë²„      ì»¬ëŸ¬
0   A   1     red
1   B   2  orange
2   C   3  yellow

In [39]:
sample_df.rename(columns={'ë„˜ë²„': 'ìˆ«ì'})

  ì•ŒíŒŒë²³  ìˆ«ì      ì»¬ëŸ¬
0   A   1     red
1   B   2  orange
2   C   3  yellow

In [40]:
sample_df.rename(columns={'ë„˜ë²„': 'ìˆ«ì', 'ì»¬ëŸ¬': 'ìƒ‰ê¹”'}, inplace=True)  # ë³€ê²½í•œ ê°’ì„ ê³ ì •
sample_df

  ì•ŒíŒŒë²³  ìˆ«ì      ìƒ‰ê¹”
0   A   1     red
1   B   2  orange
2   C   3  yellow

In [41]:
sample_df.loc[1, 'ì•ŒíŒŒë²³'] = 'D'
sample_df

  ì•ŒíŒŒë²³  ìˆ«ì      ìƒ‰ê¹”
0   A   1     red
1   D   2  orange
2   C   3  yellow

In [42]:
sample_df.loc[0, ['ì•ŒíŒŒë²³', 'ìƒ‰ê¹”']] = ['H', 'purple']
sample_df

  ì•ŒíŒŒë²³  ìˆ«ì      ìƒ‰ê¹”
0   H   1  purple
1   D   2  orange
2   C   3  yellow

### 2-5. ë°ì´í„° í•„í„°ë§
1. ë‹¨ì¼ì¡°ê±´ìœ¼ë¡œ ë°ì´í„° ì„ íƒ
2. ì—¬ëŸ¬ ì¡°ê±´ì„ ì‚¬ìš©í•œ ë°ì´í„° ì„ íƒ
3. íŠ¹ì • ê°’ì„ í¬í•¨í•˜ëŠ” ë°ì´í„° ì„ íƒ
4. íŠ¹ì • ì¡°ê±´ì„ ë§Œì¡±í•˜ëŠ” í–‰ì˜ ì¸ë±ìŠ¤ë§Œ ì„ íƒ

In [43]:
data = {
    'í•™ìƒ' : ['ì² ìˆ˜', 'ì§±êµ¬', 'í›ˆì´', 'ìœ ë¦¬', 'ìˆ˜ì§€', 'í°ë‘¥ì´', 'ì§±ì•„', 'ë§¹êµ¬', 'ë¯¸ë¦¬', 'ì„±ì•„'],
    'êµ­ì–´' : [88, 92, 76, 81, 95, 67, 80, 91, 85, 73],
    'ì˜ì–´' : [78, 85, 92, 88, 76, 84, 90, 81, 89, 80],
    'ìˆ˜í•™' : [90, 78, 82, 94, 87, 79, 83, 88, 76, 92],
    'ì‚¬íšŒ' : [85, 92, 88, 77, 91, 82, 90, 79, 84, 88],
    'ê³¼í•™' : [91, 79, 88, 85, 82, 90, 87, 94, 83, 86]
}
df = pd.DataFrame(data)
df

    í•™ìƒ  êµ­ì–´  ì˜ì–´  ìˆ˜í•™  ì‚¬íšŒ  ê³¼í•™
0   ì² ìˆ˜  88  78  90  85  91
1   ì§±êµ¬  92  85  78  92  79
2   í›ˆì´  76  92  82  88  88
3   ìœ ë¦¬  81  88  94  77  85
4   ìˆ˜ì§€  95  76  87  91  82
5  í°ë‘¥ì´  67  84  79  82  90
6   ì§±ì•„  80  90  83  90  87
7   ë§¹êµ¬  91  81  88  79  94
8   ë¯¸ë¦¬  85  89  76  84  83
9   ì„±ì•„  73  80  92  88  86

In [44]:
df[df['êµ­ì–´'] >= 80]

   í•™ìƒ  êµ­ì–´  ì˜ì–´  ìˆ˜í•™  ì‚¬íšŒ  ê³¼í•™
0  ì² ìˆ˜  88  78  90  85  91
1  ì§±êµ¬  92  85  78  92  79
3  ìœ ë¦¬  81  88  94  77  85
4  ìˆ˜ì§€  95  76  87  91  82
6  ì§±ì•„  80  90  83  90  87
7  ë§¹êµ¬  91  81  88  79  94
8  ë¯¸ë¦¬  85  89  76  84  83

In [45]:
# êµ­ì–´ ì ìˆ˜ê°€ 80ì  ì´ìƒì´ê³ , ì‚¬íšŒ ì ìˆ˜ê°€ 85ì ì¸ ë°ì´í„°
# and ì¡°ê±´ '&'
df[(df['êµ­ì–´'] >= 80) & (df['ì‚¬íšŒ'] == 85)]

   í•™ìƒ  êµ­ì–´  ì˜ì–´  ìˆ˜í•™  ì‚¬íšŒ  ê³¼í•™
0  ì² ìˆ˜  88  78  90  85  91

In [46]:
# ì˜ì–´ ì ìˆ˜ê°€ 85ì  ì´ìƒì´ê±°ë‚˜, ìˆ˜í•™ ì ìˆ˜ê°€ 90ì  ì´ìƒì¸ ë°ì´í„°
# or ì¡°ê±´ '|'
df[(df['ì˜ì–´'] >= 85) | (df['ìˆ˜í•™'] >= 90)]

   í•™ìƒ  êµ­ì–´  ì˜ì–´  ìˆ˜í•™  ì‚¬íšŒ  ê³¼í•™
0  ì² ìˆ˜  88  78  90  85  91
1  ì§±êµ¬  92  85  78  92  79
2  í›ˆì´  76  92  82  88  88
3  ìœ ë¦¬  81  88  94  77  85
6  ì§±ì•„  80  90  83  90  87
8  ë¯¸ë¦¬  85  89  76  84  83
9  ì„±ì•„  73  80  92  88  86

In [47]:
# ê³¼í•™ ì ìˆ˜ê°€ 91ì ì´ê±°ë‚˜ 86ì ì¸ ë°ì´í„°
df[df['ê³¼í•™'].isin([91, 86])]

   í•™ìƒ  êµ­ì–´  ì˜ì–´  ìˆ˜í•™  ì‚¬íšŒ  ê³¼í•™
0  ì² ìˆ˜  88  78  90  85  91
9  ì„±ì•„  73  80  92  88  86

In [48]:
# ì˜ì–´ ì ìˆ˜ê°€ 90ì  ì´ìƒì¸ ë°ì´í„°ì˜ ì¸ë±ìŠ¤ë§Œ ì•Œê³  ì‹¶ë‹¤
df[df['ì˜ì–´'] >= 90].index

Index([2, 6], dtype='int64')

### Q. ì•„ë˜ ë°ì´í„°í”„ë ˆì„ì—ì„œ ë¬¸ì œë¥¼ í•´ê²°í•´ë³´ì„¸ìš”

In [49]:
data2 = {
    'ìƒí’ˆëª…': ['ë…¸íŠ¸ë¶', 'ëª¨ë‹ˆí„°', 'í‚¤ë³´ë“œ', 'ë§ˆìš°ìŠ¤', 'í—¤ë“œì…‹', 'USB í—ˆë¸Œ', 'í”„ë¦°í„°', 'ìŠ¤í”¼ì»¤', 'ì›¹ìº ', 'ì±…ìƒ'],
    'ê°€ê²©': [1200000, 300000, 50000, 25000, 80000, 15000, 200000, 70000, 40000, 150000],
    'ìˆ˜ëŸ‰': [3, 10, 5, 20, 7, 15, 2, 5, 8, 1],
    'ì¹´í…Œê³ ë¦¬': ['ì „ìê¸°ê¸°', 'ì „ìê¸°ê¸°', 'ì»´í“¨í„° ì£¼ë³€ê¸°ê¸°', 'ì»´í“¨í„° ì£¼ë³€ê¸°ê¸°', 'ì»´í“¨í„° ì£¼ë³€ê¸°ê¸°', 'ì»´í“¨í„° ì£¼ë³€ê¸°ê¸°', 'ì‚¬ë¬´ìš©í’ˆ', 'ì»´í“¨í„° ì£¼ë³€ê¸°ê¸°', 'ì»´í“¨í„° ì£¼ë³€ê¸°ê¸°', 'ì‚¬ë¬´ìš©í’ˆ']
}
df_shopping = pd.DataFrame(data2)
df_shopping

      ìƒí’ˆëª…       ê°€ê²©  ìˆ˜ëŸ‰      ì¹´í…Œê³ ë¦¬
0     ë…¸íŠ¸ë¶  1200000   3      ì „ìê¸°ê¸°
1     ëª¨ë‹ˆí„°   300000  10      ì „ìê¸°ê¸°
2     í‚¤ë³´ë“œ    50000   5  ì»´í“¨í„° ì£¼ë³€ê¸°ê¸°
3     ë§ˆìš°ìŠ¤    25000  20  ì»´í“¨í„° ì£¼ë³€ê¸°ê¸°
4     í—¤ë“œì…‹    80000   7  ì»´í“¨í„° ì£¼ë³€ê¸°ê¸°
5  USB í—ˆë¸Œ    15000  15  ì»´í“¨í„° ì£¼ë³€ê¸°ê¸°
6     í”„ë¦°í„°   200000   2      ì‚¬ë¬´ìš©í’ˆ
7     ìŠ¤í”¼ì»¤    70000   5  ì»´í“¨í„° ì£¼ë³€ê¸°ê¸°
8      ì›¹ìº     40000   8  ì»´í“¨í„° ì£¼ë³€ê¸°ê¸°
9      ì±…ìƒ   150000   1      ì‚¬ë¬´ìš©í’ˆ

1. ìƒí’ˆëª…ì€ ì œí’ˆëª…ìœ¼ë¡œ, ì¹´í…Œê³ ë¦¬ëŠ” ë¶„ë¥˜ë¡œ ì»¬ëŸ¼ëª…ì„ ë³€ê²½í•´ë³´ì„¸ìš”

In [50]:
df_shopping.rename(columns={'ìƒí’ˆëª…': 'ì œí’ˆëª…', 'ì¹´í…Œê³ ë¦¬': 'ë¶„ë¥˜'}, inplace=True)
df_shopping

      ì œí’ˆëª…       ê°€ê²©  ìˆ˜ëŸ‰        ë¶„ë¥˜
0     ë…¸íŠ¸ë¶  1200000   3      ì „ìê¸°ê¸°
1     ëª¨ë‹ˆí„°   300000  10      ì „ìê¸°ê¸°
2     í‚¤ë³´ë“œ    50000   5  ì»´í“¨í„° ì£¼ë³€ê¸°ê¸°
3     ë§ˆìš°ìŠ¤    25000  20  ì»´í“¨í„° ì£¼ë³€ê¸°ê¸°
4     í—¤ë“œì…‹    80000   7  ì»´í“¨í„° ì£¼ë³€ê¸°ê¸°
5  USB í—ˆë¸Œ    15000  15  ì»´í“¨í„° ì£¼ë³€ê¸°ê¸°
6     í”„ë¦°í„°   200000   2      ì‚¬ë¬´ìš©í’ˆ
7     ìŠ¤í”¼ì»¤    70000   5  ì»´í“¨í„° ì£¼ë³€ê¸°ê¸°
8      ì›¹ìº     40000   8  ì»´í“¨í„° ì£¼ë³€ê¸°ê¸°
9      ì±…ìƒ   150000   1      ì‚¬ë¬´ìš©í’ˆ

2. 100000 ê°€ê²© ì´ìƒì˜ ìƒí’ˆì„ ë°ì´í„°í”„ë ˆì„ í˜•íƒœë¡œ ì¶œë ¥í•´ë³´ì„¸ìš”

In [51]:
df_shopping[df_shopping['ê°€ê²©'] >= 100000]

   ì œí’ˆëª…       ê°€ê²©  ìˆ˜ëŸ‰    ë¶„ë¥˜
0  ë…¸íŠ¸ë¶  1200000   3  ì „ìê¸°ê¸°
1  ëª¨ë‹ˆí„°   300000  10  ì „ìê¸°ê¸°
6  í”„ë¦°í„°   200000   2  ì‚¬ë¬´ìš©í’ˆ
9   ì±…ìƒ   150000   1  ì‚¬ë¬´ìš©í’ˆ

3. ì¹´í…Œê³ ë¦¬ê°€ ì»´í“¨í„° ì£¼ë³€ê¸°ê¸°ì¸ ë°ì´í„°ì˜ ê°€ê²©ê³¼ ìˆ˜ëŸ‰ë§Œ ì¶œë ¥í•´ë³´ì„¸ìš”

In [52]:
df_shopping[df_shopping['ë¶„ë¥˜'] == 'ì»´í“¨í„° ì£¼ë³€ê¸°ê¸°'].loc[:, ['ê°€ê²©', 'ìˆ˜ëŸ‰']]

      ê°€ê²©  ìˆ˜ëŸ‰
2  50000   5
3  25000  20
4  80000   7
5  15000  15
7  70000   5
8  40000   8

4. ê°€ê²©ì´ 50000ì› ì´ìƒ 300000 ì´í•˜ì¸ ì œí’ˆì˜ ë°ì´í„°ë§Œ ì¶œë ¥í•´ë³´ì„¸ìš”

In [53]:
df_shopping[(df_shopping['ê°€ê²©'] >= 50000) & (df_shopping['ê°€ê²©'] <= 300000)]

   ì œí’ˆëª…      ê°€ê²©  ìˆ˜ëŸ‰        ë¶„ë¥˜
1  ëª¨ë‹ˆí„°  300000  10      ì „ìê¸°ê¸°
2  í‚¤ë³´ë“œ   50000   5  ì»´í“¨í„° ì£¼ë³€ê¸°ê¸°
4  í—¤ë“œì…‹   80000   7  ì»´í“¨í„° ì£¼ë³€ê¸°ê¸°
6  í”„ë¦°í„°  200000   2      ì‚¬ë¬´ìš©í’ˆ
7  ìŠ¤í”¼ì»¤   70000   5  ì»´í“¨í„° ì£¼ë³€ê¸°ê¸°
9   ì±…ìƒ  150000   1      ì‚¬ë¬´ìš©í’ˆ

5. ìˆ˜ëŸ‰ì´ 10ê°œ ì´ìƒì¸ ë°ì´í„°ë“¤ì˜ 'ìˆ˜ëŸ‰'ì»¬ëŸ¼ëª…ì„ 'ì¬ê³ ìˆ˜ëŸ‰'ìœ¼ë¡œ ìˆ˜ì •í•˜ì—¬ ë‹¤ë¥¸ ì´ë¦„ì˜ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ì €ì¥í•´ì„œ ì¶œë ¥í•´ë³´ì„¸ìš”

In [54]:
df_more = df_shopping[df_shopping['ìˆ˜ëŸ‰'] >= 10]
df_more.rename(columns={'ìˆ˜ëŸ‰': 'ì¬ê³ ìˆ˜ëŸ‰'}, inplace=True)
df_more

C:\Users\RMARKET\AppData\Local\Temp\ipykernel_16588\1289566356.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_more.rename(columns={'ìˆ˜ëŸ‰': 'ì¬ê³ ìˆ˜ëŸ‰'}, inplace=True)

      ì œí’ˆëª…      ê°€ê²©  ì¬ê³ ìˆ˜ëŸ‰        ë¶„ë¥˜
1     ëª¨ë‹ˆí„°  300000    10      ì „ìê¸°ê¸°
3     ë§ˆìš°ìŠ¤   25000    20  ì»´í“¨í„° ì£¼ë³€ê¸°ê¸°
5  USB í—ˆë¸Œ   15000    15  ì»´í“¨í„° ì£¼ë³€ê¸°ê¸°

In [55]:
df_more2 = df_shopping[df_shopping['ìˆ˜ëŸ‰'] >= 10].rename(columns={'ìˆ˜ëŸ‰': 'ì¬ê³ ìˆ˜ëŸ‰'})
df_more2

      ì œí’ˆëª…      ê°€ê²©  ì¬ê³ ìˆ˜ëŸ‰        ë¶„ë¥˜
1     ëª¨ë‹ˆí„°  300000    10      ì „ìê¸°ê¸°
3     ë§ˆìš°ìŠ¤   25000    20  ì»´í“¨í„° ì£¼ë³€ê¸°ê¸°
5  USB í—ˆë¸Œ   15000    15  ì»´í“¨í„° ì£¼ë³€ê¸°ê¸°

## 3. ë°ì´í„° ì „ì²˜ë¦¬
### 3-1. ê²°ì¸¡ì¹˜ ì²˜ë¦¬
- fillna : ê²°ì¸¡ì¹˜ ì±„ìš°ê¸°

In [56]:
data_with_nan = {
    'ê³ ê°ID': [101, 102, 103, 104, 105],
    'ì´ë¦„': ['ìˆ˜ì—°' ,'ì„œìœ¤', 'ì†Œë¦¬', 'ì‹œì€', None],
    'ë‚˜ì´': [27, None, 24, 27, 26],
    'êµ¬ë§¤ê¸ˆì•¡': [25000, 30000, None, 50000, 100000],
    'êµ¬ë§¤íšŸìˆ˜': [1, 2, 1, 4, 5]
}

df_with_nan = pd.DataFrame(data_with_nan)
df_with_nan

   ê³ ê°ID    ì´ë¦„    ë‚˜ì´      êµ¬ë§¤ê¸ˆì•¡  êµ¬ë§¤íšŸìˆ˜
0   101    ìˆ˜ì—°  27.0   25000.0     1
1   102    ì„œìœ¤   NaN   30000.0     2
2   103    ì†Œë¦¬  24.0       NaN     1
3   104    ì‹œì€  27.0   50000.0     4
4   105  None  26.0  100000.0     5

In [57]:
df_with_nan.isnull()

    ê³ ê°ID     ì´ë¦„     ë‚˜ì´   êµ¬ë§¤ê¸ˆì•¡   êµ¬ë§¤íšŸìˆ˜
0  False  False  False  False  False
1  False  False   True  False  False
2  False  False  False   True  False
3  False  False  False  False  False
4  False   True  False  False  False

In [58]:
# ê° ì»¬ëŸ¼ ë³„ë¡œ ê²°ì¸¡ì¹˜ê°€ ëª‡ ê°œ ìˆëŠ”ì§€?
df_with_nan.isnull().sum()

ê³ ê°ID    0
ì´ë¦„      1
ë‚˜ì´      1
êµ¬ë§¤ê¸ˆì•¡    1
êµ¬ë§¤íšŸìˆ˜    0
dtype: int64

In [59]:
# ì´ ê²°ì¸¡ì¹˜ê°€ ëª‡ ê°œ ìˆëŠ”ì§€?
df_with_nan.isnull().sum().sum()

np.int64(3)

#### ê²°ì¸¡ì¹˜ ì²˜ë¦¬ ë°©ë²•
1. ê²°ì¸¡ì¹˜ê°€ í¬í•¨ëœ í–‰ ì œê±°
2. ê²°ì¸¡ì¹˜ê°€ í¬í•¨ëœ ì—´ ì œê±°
3. ê²°ì¸¡ì¹˜ë¥¼ íŠ¹ì • ê°’ìœ¼ë¡œ ëŒ€ì²´ (ex. 0)
4. ê²°ì¸¡ì¹˜ë¥¼ í‰ê· ê°’ìœ¼ë¡œ ëŒ€ì²´

In [60]:
# ê²°ì¸¡ì¹˜ê°€ í¬í•¨ëœ í–‰ ì œê±°
# inplace=True í˜¹ì€ ë‹¤ë¥¸ ì´ë¦„ì˜ ë³€ìˆ˜ë¡œ ì €ì¥í•´ì¤˜ì•¼ ì‚­ì œ ìƒíƒœê°€ ì €ì¥ì´ ëœë‹¤
df_drop_row = df_with_nan.dropna()
df_drop_row

   ê³ ê°ID  ì´ë¦„    ë‚˜ì´     êµ¬ë§¤ê¸ˆì•¡  êµ¬ë§¤íšŸìˆ˜
0   101  ìˆ˜ì—°  27.0  25000.0     1
3   104  ì‹œì€  27.0  50000.0     4

In [61]:
# ê²°ì¸¡ì¹˜ê°€ í¬í•¨ëœ ì—´ ì œê±°
# axis=0ì€ í–‰, axis=1ì€ ì—´
df_drop_column = df_with_nan.dropna(axis=1)
df_drop_column

   ê³ ê°ID  êµ¬ë§¤íšŸìˆ˜
0   101     1
1   102     2
2   103     1
3   104     4
4   105     5

In [62]:
# ê²°ì¸¡ì¹˜ë¥¼ ì±„ìš°ì
# floatìœ¼ë¡œ ë³€í™˜ëœë‹¤
df_fill_zero = df_with_nan.fillna(0)
df_fill_zero

   ê³ ê°ID  ì´ë¦„    ë‚˜ì´      êµ¬ë§¤ê¸ˆì•¡  êµ¬ë§¤íšŸìˆ˜
0   101  ìˆ˜ì—°  27.0   25000.0     1
1   102  ì„œìœ¤   0.0   30000.0     2
2   103  ì†Œë¦¬  24.0       0.0     1
3   104  ì‹œì€  27.0   50000.0     4
4   105   0  26.0  100000.0     5

In [63]:
# ê²°ì¸¡ì¹˜ë¥¼ í‰ê·  ê°’ìœ¼ë¡œ
df_with_nan['ë‚˜ì´'].fillna(df_with_nan['ë‚˜ì´'].mean(), inplace=True)
df_with_nan

C:\Users\RMARKET\AppData\Local\Temp\ipykernel_16588\1446259407.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_with_nan['ë‚˜ì´'].fillna(df_with_nan['ë‚˜ì´'].mean(), inplace=True)

   ê³ ê°ID    ì´ë¦„    ë‚˜ì´      êµ¬ë§¤ê¸ˆì•¡  êµ¬ë§¤íšŸìˆ˜
0   101    ìˆ˜ì—°  27.0   25000.0     1
1   102    ì„œìœ¤  26.0   30000.0     2
2   103    ì†Œë¦¬  24.0       NaN     1
3   104    ì‹œì€  27.0   50000.0     4
4   105  None  26.0  100000.0     5

In [64]:
df_with_nan['êµ¬ë§¤ê¸ˆì•¡'].fillna(df_with_nan['êµ¬ë§¤ê¸ˆì•¡'].mean(), inplace=True)
df_with_nan

C:\Users\RMARKET\AppData\Local\Temp\ipykernel_16588\570889775.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_with_nan['êµ¬ë§¤ê¸ˆì•¡'].fillna(df_with_nan['êµ¬ë§¤ê¸ˆì•¡'].mean(), inplace=True)

   ê³ ê°ID    ì´ë¦„    ë‚˜ì´      êµ¬ë§¤ê¸ˆì•¡  êµ¬ë§¤íšŸìˆ˜
0   101    ìˆ˜ì—°  27.0   25000.0     1
1   102    ì„œìœ¤  26.0   30000.0     2
2   103    ì†Œë¦¬  24.0   51250.0     1
3   104    ì‹œì€  27.0   50000.0     4
4   105  None  26.0  100000.0     5

In [65]:
# ë¬¸ìì—´ ê²°ì¸¡ì¹˜ë¥¼ ì±„ìš°ëŠ” ë°©ë²•? ì•Œìˆ˜ì—†ìŒ, ë¯¸ìƒ ë“±ìœ¼ë¡œ í•  ìˆ˜ ìˆë‹¤

### 3-2. ì¤‘ë³µ ì œê±° ë° ì •ë ¬
- drop_duplicates : ì¤‘ë³µê°’ ì œê±°
- sort_values : ì •ë ¬

In [66]:
data_with_duplicates = {
    'ê³ ê°ID': [101, 102, 103, 101, 101],
    'ì´ë¦„': ['ì§±ì•„', 'ì² ìˆ˜', 'ì§±êµ¬', 'ìˆ˜ì§€', 'ì§±ì•„'],
    'êµ¬ë§¤ê¸ˆì•¡': [25000, 30000, 25000, 50000, 25000],
    'êµ¬ë§¤íšŸìˆ˜': [1, 2, 2, 4, 1]
}
df_with_duplicates = pd.DataFrame(data_with_duplicates)
df_with_duplicates

   ê³ ê°ID  ì´ë¦„   êµ¬ë§¤ê¸ˆì•¡  êµ¬ë§¤íšŸìˆ˜
0   101  ì§±ì•„  25000     1
1   102  ì² ìˆ˜  30000     2
2   103  ì§±êµ¬  25000     2
3   101  ìˆ˜ì§€  50000     4
4   101  ì§±ì•„  25000     1

In [67]:
df_with_duplicates.duplicated()

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [68]:
df_with_duplicates.duplicated(subset=['ê³ ê°ID'])

0    False
1    False
2    False
3     True
4     True
dtype: bool

In [69]:
df_drop_duplicates = df_with_duplicates.drop_duplicates()
df_drop_duplicates

   ê³ ê°ID  ì´ë¦„   êµ¬ë§¤ê¸ˆì•¡  êµ¬ë§¤íšŸìˆ˜
0   101  ì§±ì•„  25000     1
1   102  ì² ìˆ˜  30000     2
2   103  ì§±êµ¬  25000     2
3   101  ìˆ˜ì§€  50000     4

In [70]:
df_drop_dupcol = df_with_duplicates.drop_duplicates(subset=['ê³ ê°ID'])
df_drop_dupcol

   ê³ ê°ID  ì´ë¦„   êµ¬ë§¤ê¸ˆì•¡  êµ¬ë§¤íšŸìˆ˜
0   101  ì§±ì•„  25000     1
1   102  ì² ìˆ˜  30000     2
2   103  ì§±êµ¬  25000     2

In [71]:
# ì •ë ¬
df_drop_duplicates.sort_values(by='êµ¬ë§¤ê¸ˆì•¡')

   ê³ ê°ID  ì´ë¦„   êµ¬ë§¤ê¸ˆì•¡  êµ¬ë§¤íšŸìˆ˜
0   101  ì§±ì•„  25000     1
2   103  ì§±êµ¬  25000     2
1   102  ì² ìˆ˜  30000     2
3   101  ìˆ˜ì§€  50000     4

In [72]:
df_drop_duplicates.sort_values(by='êµ¬ë§¤ê¸ˆì•¡', ascending=False, inplace=True)
df_drop_duplicates

C:\Users\RMARKET\AppData\Local\Temp\ipykernel_16588\3600264215.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_drop_duplicates.sort_values(by='êµ¬ë§¤ê¸ˆì•¡', ascending=False, inplace=True)

   ê³ ê°ID  ì´ë¦„   êµ¬ë§¤ê¸ˆì•¡  êµ¬ë§¤íšŸìˆ˜
3   101  ìˆ˜ì§€  50000     4
1   102  ì² ìˆ˜  30000     2
0   101  ì§±ì•„  25000     1
2   103  ì§±êµ¬  25000     2

In [73]:
# ì¸ë±ìŠ¤ë¥¼ ë¦¬ì…‹í•˜ì—¬ ì €ì¥
# drop=Trueë¼ëŠ” ì˜µì…˜ì„ ì£¼ì§€ ì•Šìœ¼ë©´ ìƒˆë¡œìš´ ì¸ë±ìŠ¤ê°€ ì¶”ê°€ëœë‹¤
df_no_duplicates = df_drop_duplicates.reset_index(drop=True)
df_no_duplicates

   ê³ ê°ID  ì´ë¦„   êµ¬ë§¤ê¸ˆì•¡  êµ¬ë§¤íšŸìˆ˜
0   101  ìˆ˜ì§€  50000     4
1   102  ì² ìˆ˜  30000     2
2   101  ì§±ì•„  25000     1
3   103  ì§±êµ¬  25000     2

## 4. Groupbyë¥¼ í†µí•œ ë°ì´í„° í•„í„°ë§

In [74]:
df_no_duplicates[df_no_duplicates['êµ¬ë§¤íšŸìˆ˜'] > 2]

   ê³ ê°ID  ì´ë¦„   êµ¬ë§¤ê¸ˆì•¡  êµ¬ë§¤íšŸìˆ˜
0   101  ìˆ˜ì§€  50000     4

In [75]:
data = {
    'ê³¼ì¼': ['ì‚¬ê³¼', 'ì‚¬ê³¼', 'ë°”ë‚˜ë‚˜', 'ë°”ë‚˜ë‚˜', 'í¬ë„', 'í¬ë„'],
    'íŒë§¤ëŸ‰': [5, 3, 6, 7, 4, 2]
}

df = pd.DataFrame(data)

In [76]:
df

    ê³¼ì¼  íŒë§¤ëŸ‰
0   ì‚¬ê³¼    5
1   ì‚¬ê³¼    3
2  ë°”ë‚˜ë‚˜    6
3  ë°”ë‚˜ë‚˜    7
4   í¬ë„    4
5   í¬ë„    2

### groupby
- groupby : ë°ì´í„°í”„ë ˆì„ì˜ ë°ì´í„°ë¥¼ ê·¸ë£¹ìœ¼ë¡œ ë¬¶ê³ ,ê° ê·¸ë£¹ì— ëŒ€í•´ íŠ¹ì • ì—°ì‚°ì„ ì ìš©í•  ìˆ˜ ìˆë„ë¡ í•˜ëŠ” ê¸°ëŠ¥
- ì§‘ê³„ í•¨ìˆ˜(ì˜ˆ: sum(), mean(), count(), max() ë“±)ì™€ í•¨ê»˜ ìì£¼ ì‚¬ìš©

In [77]:
df.groupby('ê³¼ì¼')['íŒë§¤ëŸ‰'].sum()

ê³¼ì¼
ë°”ë‚˜ë‚˜    13
ì‚¬ê³¼      8
í¬ë„      6
Name: íŒë§¤ëŸ‰, dtype: int64

In [78]:
df.groupby('ê³¼ì¼')['íŒë§¤ëŸ‰'].mean()

ê³¼ì¼
ë°”ë‚˜ë‚˜    6.5
ì‚¬ê³¼     4.0
í¬ë„     3.0
Name: íŒë§¤ëŸ‰, dtype: float64

In [79]:
df.groupby('ê³¼ì¼')['íŒë§¤ëŸ‰'].max()

ê³¼ì¼
ë°”ë‚˜ë‚˜    7
ì‚¬ê³¼     5
í¬ë„     4
Name: íŒë§¤ëŸ‰, dtype: int64

In [80]:
df.groupby('ê³¼ì¼')['íŒë§¤ëŸ‰'].count()

ê³¼ì¼
ë°”ë‚˜ë‚˜    2
ì‚¬ê³¼     2
í¬ë„     2
Name: íŒë§¤ëŸ‰, dtype: int64

In [81]:
df.groupby('ê³¼ì¼')['íŒë§¤ëŸ‰'].min()

ê³¼ì¼
ë°”ë‚˜ë‚˜    6
ì‚¬ê³¼     3
í¬ë„     2
Name: íŒë§¤ëŸ‰, dtype: int64

### Q. ì‹¤ìŠµë¬¸ì œ

In [82]:
data3 = [
    ['ê¹€ì² ìˆ˜', 'ê°€ì „', 120000, 2],
    ['ì´ì˜í¬', 'ê°€êµ¬', 80000, 4],
    ['ê¹€ì² ìˆ˜', 'ê°€ì „', 120000, 2],  # ì¤‘ë³µ ë°ì´í„°
    ['ë°•ë¯¼ìˆ˜', 'ìŠ¤í¬ì¸ ', 150000, 1],
    ['ìµœìˆ˜ì •', 'ìŠ¤í¬ì¸ ', 95000, 3],
    ['í•œì§€ë¯¼', 'ê°€ì „', 130000, 2],
    ['ì´ì˜í¬', 'ê°€êµ¬', 50000, 5],
    ['ìµœìˆ˜ì •', 'ìŠ¤í¬ì¸ ', 95000, 3]  # ì¤‘ë³µ ë°ì´í„°
]

# ë°ì´í„°í”„ë ˆì„ ìƒì„±
buy_df = pd.DataFrame(data3, columns=['ê³ ê°ëª…', 'ìƒí’ˆë¶„ë¥˜', 'ê¸ˆì•¡', 'ìˆ˜ëŸ‰'])
buy_df

   ê³ ê°ëª… ìƒí’ˆë¶„ë¥˜      ê¸ˆì•¡  ìˆ˜ëŸ‰
0  ê¹€ì² ìˆ˜   ê°€ì „  120000   2
1  ì´ì˜í¬   ê°€êµ¬   80000   4
2  ê¹€ì² ìˆ˜   ê°€ì „  120000   2
3  ë°•ë¯¼ìˆ˜  ìŠ¤í¬ì¸   150000   1
4  ìµœìˆ˜ì •  ìŠ¤í¬ì¸    95000   3
5  í•œì§€ë¯¼   ê°€ì „  130000   2
6  ì´ì˜í¬   ê°€êµ¬   50000   5
7  ìµœìˆ˜ì •  ìŠ¤í¬ì¸    95000   3

In [83]:
# 1. ì¤‘ë³µëœ í–‰ì„ ì œê±°í•´ë³´ì„¸ìš”
bdf_drop_row = buy_df.drop_duplicates()
bdf_drop_row

   ê³ ê°ëª… ìƒí’ˆë¶„ë¥˜      ê¸ˆì•¡  ìˆ˜ëŸ‰
0  ê¹€ì² ìˆ˜   ê°€ì „  120000   2
1  ì´ì˜í¬   ê°€êµ¬   80000   4
3  ë°•ë¯¼ìˆ˜  ìŠ¤í¬ì¸   150000   1
4  ìµœìˆ˜ì •  ìŠ¤í¬ì¸    95000   3
5  í•œì§€ë¯¼   ê°€ì „  130000   2
6  ì´ì˜í¬   ê°€êµ¬   50000   5

In [84]:
# 2. ê¸ˆì•¡ ì»¬ëŸ¼ì„ ì¤‘ì‹¬ìœ¼ë¡œ ë°ì´í„°ë¥¼ ì •ë ¬í•´ë³´ì„¸ìš”
sort_bdf = bdf_drop_row.sort_values(by='ê¸ˆì•¡')
sort_bdf = sort_bdf.reset_index(drop=True)
sort_bdf

   ê³ ê°ëª… ìƒí’ˆë¶„ë¥˜      ê¸ˆì•¡  ìˆ˜ëŸ‰
0  ì´ì˜í¬   ê°€êµ¬   50000   5
1  ì´ì˜í¬   ê°€êµ¬   80000   4
2  ìµœìˆ˜ì •  ìŠ¤í¬ì¸    95000   3
3  ê¹€ì² ìˆ˜   ê°€ì „  120000   2
4  í•œì§€ë¯¼   ê°€ì „  130000   2
5  ë°•ë¯¼ìˆ˜  ìŠ¤í¬ì¸   150000   1

In [85]:
# 3. ìƒí’ˆë¶„ë¥˜ ì»¬ëŸ¼ì„ ê¸°ì¤€ìœ¼ë¡œ ìˆ˜ëŸ‰ í•©ê³„ë¥¼ ì¶œë ¥í•´ë³´ì„¸ìš”
sort_bdf.groupby('ìƒí’ˆë¶„ë¥˜')['ìˆ˜ëŸ‰'].sum()

ìƒí’ˆë¶„ë¥˜
ê°€êµ¬     9
ê°€ì „     4
ìŠ¤í¬ì¸     4
Name: ìˆ˜ëŸ‰, dtype: int64

In [86]:
# 4. ê³ ê°ëª…ë³„ ê¸ˆì•¡ì˜ í‰ê· ê°’ì„ ì¶œë ¥í•´ë³´ì„¸ìš”
sort_bdf.groupby('ê³ ê°ëª…')['ê¸ˆì•¡'].mean()

ê³ ê°ëª…
ê¹€ì² ìˆ˜    120000.0
ë°•ë¯¼ìˆ˜    150000.0
ì´ì˜í¬     65000.0
ìµœìˆ˜ì •     95000.0
í•œì§€ë¯¼    130000.0
Name: ê¸ˆì•¡, dtype: float64

## 5. ë°ì´í„°í”„ë ˆì„ ë³‘í•© ë° ì—°ê²°
### 5-1. ë°ì´í„°í”„ë ˆì„ ë³‘í•©
- merge : ë°ì´í„°í”„ë ˆì„ ë³‘í•©

In [87]:
data1 = {
    'ê³ ê°ID': [101, 102, 103, 104, 105],
    'ì´ë¦„': ['ì§±ì•„', 'ì² ìˆ˜', 'ì§±êµ¬', 'ìˆ˜ì§€', 'ìœ ë¦¬'],
    'êµ¬ë§¤ê¸ˆì•¡': [25000, 30000, 25000, 50000, 25000],
    'êµ¬ë§¤íšŸìˆ˜': [1, 2, 2, 4, 1]
}
df1 = pd.DataFrame(data1)
df1

   ê³ ê°ID  ì´ë¦„   êµ¬ë§¤ê¸ˆì•¡  êµ¬ë§¤íšŸìˆ˜
0   101  ì§±ì•„  25000     1
1   102  ì² ìˆ˜  30000     2
2   103  ì§±êµ¬  25000     2
3   104  ìˆ˜ì§€  50000     4
4   105  ìœ ë¦¬  25000     1

In [88]:
data2 = {
    'ê³ ê°ID': [101, 102, 103, 104, 105],
    'ë§Œì¡±ë„': [5, 4, 2, 5, 3]
}
df2 = pd.DataFrame(data2)
df2

   ê³ ê°ID  ë§Œì¡±ë„
0   101    5
1   102    4
2   103    2
3   104    5
4   105    3

In [89]:
merged_df =  pd.merge(df1, df2, on='ê³ ê°ID')
merged_df

   ê³ ê°ID  ì´ë¦„   êµ¬ë§¤ê¸ˆì•¡  êµ¬ë§¤íšŸìˆ˜  ë§Œì¡±ë„
0   101  ì§±ì•„  25000     1    5
1   102  ì² ìˆ˜  30000     2    4
2   103  ì§±êµ¬  25000     2    2
3   104  ìˆ˜ì§€  50000     4    5
4   105  ìœ ë¦¬  25000     1    3

In [90]:
merged_df['ê³ ê°ID'] = merged_df['ê³ ê°ID'].astype('float').astype('int')

In [91]:
merged_df

   ê³ ê°ID  ì´ë¦„   êµ¬ë§¤ê¸ˆì•¡  êµ¬ë§¤íšŸìˆ˜  ë§Œì¡±ë„
0   101  ì§±ì•„  25000     1    5
1   102  ì² ìˆ˜  30000     2    4
2   103  ì§±êµ¬  25000     2    2
3   104  ìˆ˜ì§€  50000     4    5
4   105  ìœ ë¦¬  25000     1    3

### 5-2. ë°ì´í„°í”„ë ˆì„ ì—°ê²°
- concat : ë°ì´í„°í”„ë ˆì„ ì„¸ë¡œë¡œ ì—°ê²°

In [92]:
data1 = {
    'ê³ ê°ID': [101, 102, 103, 104, 105],
    'ì´ë¦„': ['ì§±ì•„', 'ì² ìˆ˜', 'ì§±êµ¬', 'ìˆ˜ì§€', 'ìœ ë¦¬'],
    'êµ¬ë§¤ê¸ˆì•¡': [25000, 30000, 25000, 50000, 25000],
    'êµ¬ë§¤íšŸìˆ˜': [1, 2, 2, 4, 1]
}
df1 = pd.DataFrame(data1)
df1

   ê³ ê°ID  ì´ë¦„   êµ¬ë§¤ê¸ˆì•¡  êµ¬ë§¤íšŸìˆ˜
0   101  ì§±ì•„  25000     1
1   102  ì² ìˆ˜  30000     2
2   103  ì§±êµ¬  25000     2
3   104  ìˆ˜ì§€  50000     4
4   105  ìœ ë¦¬  25000     1

In [93]:
data2 = {
    'ê³ ê°ID': [106, 107, 108],
    'ì´ë¦„': ['ë‚˜ë¼', 'ë¯¼ì•„', 'ì§€ìˆ˜'],
    'êµ¬ë§¤ê¸ˆì•¡': [15000, 10000, 45000],
    'êµ¬ë§¤íšŸìˆ˜': [1, 3, 1]
}
df2 = pd.DataFrame(data2)
df2

   ê³ ê°ID  ì´ë¦„   êµ¬ë§¤ê¸ˆì•¡  êµ¬ë§¤íšŸìˆ˜
0   106  ë‚˜ë¼  15000     1
1   107  ë¯¼ì•„  10000     3
2   108  ì§€ìˆ˜  45000     1

In [94]:
concat_df = pd.concat([df1, df2], ignore_index=True)
concat_df

   ê³ ê°ID  ì´ë¦„   êµ¬ë§¤ê¸ˆì•¡  êµ¬ë§¤íšŸìˆ˜
0   101  ì§±ì•„  25000     1
1   102  ì² ìˆ˜  30000     2
2   103  ì§±êµ¬  25000     2
3   104  ìˆ˜ì§€  50000     4
4   105  ìœ ë¦¬  25000     1
5   106  ë‚˜ë¼  15000     1
6   107  ë¯¼ì•„  10000     3
7   108  ì§€ìˆ˜  45000     1

## 6. ë°ì´í„°í”„ë ˆì„ ë¶ˆëŸ¬ì˜¤ê¸°, ë‚´ë³´ë‚´ê¸°
- ì£¼ë¡œ excel, csvíŒŒì¼ì„ ë¶ˆëŸ¬ì˜¤ëŠ” ê²½ìš°ê°€ ë§ìŒ
- excel : openpyxl ë¼ì´ë¸ŒëŸ¬ë¦¬ ì„¤ì¹˜ í›„ read_excel
- csv : ì‰¼í‘œë¡œ êµ¬ë¶„í•œ í…ìŠ¤íŠ¸ ë°ì´í„°, read_csv

In [95]:
# pip install openpyxl

In [96]:
movie = pd.read_excel('./data/ì˜í™”ë°ì´í„°.xlsx')
movie

                   ì œëª©      ì¥ë¥´      êµ­ê°€    ì‹œê°„    í‰ì
0                ë² í…Œë‘2      ì•¡ì…˜    ëŒ€í•œë¯¼êµ­  118ë¶„  6.61
1              ë¹„ê¸´ ì–´ê²Œì¸     ë“œë¼ë§ˆ      ë¯¸êµ­  104ë¶„  9.12
2            ëŒ€ë„ì‹œì˜ ì‚¬ë‘ë²•     ë“œë¼ë§ˆ    ëŒ€í•œë¯¼êµ­  118ë¶„   NaN
3                  ë£©ë°±     ë“œë¼ë§ˆ      ì¼ë³¸   57ë¶„  9.13
4         ì—ì´ë¦¬ì–¸ : ë¡œë¬¼ë£¨ìŠ¤      ê³µí¬  ì˜êµ­, ë¯¸êµ­  119ë¶„  8.74
5             ì•ˆë…•, í• ë¶€ì§€   ë‹¤íë©˜í„°ë¦¬    ëŒ€í•œë¯¼êµ­   95ë¶„  8.61
6             ì†Œë…„ì‹œì ˆì˜ ë„ˆ  ë©œë¡œ/ë¡œë§¨ìŠ¤      ì¤‘êµ­  135ë¶„  9.05
7   ì„ì˜ì›… | ì•„ì„ íˆì–´ë¡œ ë” ìŠ¤íƒ€    ê³µì—°ì‹¤í™©    ëŒ€í•œë¯¼êµ­  108ë¶„  9.77
8    ë¸Œë ˆë“œì´ë°œì†Œ : ë¹µìŠ¤íƒ€ì˜ íƒ„ìƒ   ì• ë‹ˆë©”ì´ì…˜    ëŒ€í•œë¯¼êµ­   77ë¶„  9.60
9             ì‚¬ë‘ì˜ í•˜ì¸„í•‘   ì• ë‹ˆë©”ì´ì…˜    ëŒ€í•œë¯¼êµ­   86ë¶„  8.73
10                íŒŒì¼ëŸ¿     ì½”ë¯¸ë””    ëŒ€í•œë¯¼êµ­  111ë¶„  7.70
11            ìš°ë¦¬ê°€ ëì´ì•¼  ë©œë¡œ/ë¡œë§¨ìŠ¤      ë¯¸êµ­  130ë¶„  7.94
12             ìƒˆë²½ì˜ ëª¨ë“      ë“œë¼ë§ˆ      ì¼ë³¸  119ë¶„  8.16
13       ì •êµ­ : ì•„ì´ ì—  ìŠ¤í‹¸    ê³µì—°ì‹¤í™©    ëŒ€í•œë¯¼êµ­   94ë¶„  9.97
14   ê·¹ì¥ì´ì§‘í¸ ë´‡ì¹˜ ë” ë¡! ì „í¸   ì• ë‹ˆë©”ì´ì…˜      ì¼ë³¸   90ë¶„  8.28

In [97]:
concat_df.to_excel('./data/ê³ ê°ì •ë³´(ì¸ë±ìŠ¤ í¬í•¨).xlsx')

In [98]:
concat_df.to_excel('./data/ê³ ê°ì •ë³´(ì¸ë±ìŠ¤ ë¯¸í¬í•¨).xlsx', index=False)

In [99]:
foodstruct = pd.read_csv('./data/foodstruct_nutritional_facts.csv')
foodstruct.head()

,Food Name,Category Name,Calcium,Calories,Omega-3 - DHA,Protein,Vitamin A,Vitamin B1,Vitamin C,Sugar,Vitamin D,Vitamin E
0,Apple,Fruits,6,52,0.0,26,54.0,2.0,46,10.0,0.0,18.0
1,Avocado,Fruits,12,160,0.0,2,146.0,7.0,10,66.0,0.0,21.0
2,Banana,Fruits,5,89,0.0,11,64.0,3.0,87,12.0,0.0,1.0
3,Blackberry,Fruits,29,43,0.0,14,214.0,2.0,21,49.0,0.0,12.0
4,Blueberry,Fruits,6,57,0.0,74,54.0,4.0,97,10.0,0.0,57.0

In [100]:
foodstruct.to_csv('./data/foodstruct_out.csv')


## ğŸŒ¼ë§ˆë¬´ë¦¬ ë¬¸ì œ

ì•„ë˜ ë¬¸ì œë“¤ì„ í’€ì–´ë³´ì„¸ìš”!

Q1. pandas ë¼ì´ë¸ŒëŸ¬ë¦¬ë¥¼ ì‚¬ìš©í•˜ì—¬ ì´ë¦„, ë‚˜ì´, ì‚¬ëŠ” ê³³, ì·¨ë¯¸ ë“±ì„ í¬í•¨í•œ ë°ì´í„°í”„ë ˆì„ì„ ìƒì„±í•˜ê³  ì¶œë ¥í•´ë³´ì„¸ìš”

In [101]:
info = {
    'name': ['ë‚˜ë¼', 'ë¯¼ì•„', 'ìœ¤ì„œ'],
    'age': [18, 20, 25],
    'city': ['ì„œìš¸', 'ê²½ê¸°ë„', 'ê°•ì›ë„']
}

infodf = pd.DataFrame(info)
infodf

  name  age city
0   ë‚˜ë¼   18   ì„œìš¸
1   ë¯¼ì•„   20  ê²½ê¸°ë„
2   ìœ¤ì„œ   25  ê°•ì›ë„

Q2. ì˜ë¬¸ìœ¼ë¡œ ë˜ì–´ìˆëŠ” ë°ì´í„°í”„ë ˆì„ì˜ ì»¬ëŸ¼ì„ í•œê¸€ë¡œ ë°”ê¾¸ê³ , ìˆ«ìí˜•ìœ¼ë¡œ ë˜ì–´ìˆëŠ” ì»¬ëŸ¼ì„ ê¸°ì¤€ìœ¼ë¡œ ì˜¤ë¦„ì°¨ìˆœ ì •ë ¬í•˜ì—¬ ì¶œë ¥í•˜ì„¸ìš”

In [102]:
infodf.columns = ['ì´ë¦„', 'ë‚˜ì´', 'ì‚¬ëŠ” ê³³']
infodf.sort_values(by='ë‚˜ì´')

   ì´ë¦„  ë‚˜ì´ ì‚¬ëŠ” ê³³
0  ë‚˜ë¼  18   ì„œìš¸
1  ë¯¼ì•„  20  ê²½ê¸°ë„
2  ìœ¤ì„œ  25  ê°•ì›ë„

Q3. ì˜í™” ì œëª©, ì¥ë¥´, í‰ì  ë“±ì˜ ë°ì´í„°ë¥¼ ë‹´ì€ ì—‘ì…€ íŒŒì¼ì„ ë¶ˆëŸ¬ì™€ì„œ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ë³€í™˜í•˜ê³ , ì¥ë¥´ ë³„ í‰ê·  í‰ì ì„ ì¶œë ¥í•´ë³´ì„¸ìš”
* ì˜í™”ë°ì´í„°.xlsx

In [103]:
movie = pd.read_excel('./data/ì˜í™”ë°ì´í„°.xlsx')

movie.groupby('ì¥ë¥´')['í‰ì '].mean()

ì¥ë¥´
ê³µì—°ì‹¤í™©      9.870000
ê³µí¬        8.740000
ë‹¤íë©˜í„°ë¦¬     8.610000
ë“œë¼ë§ˆ       8.803333
ë©œë¡œ/ë¡œë§¨ìŠ¤    8.495000
ì• ë‹ˆë©”ì´ì…˜     8.870000
ì•¡ì…˜        6.610000
ì½”ë¯¸ë””       7.700000
Name: í‰ì , dtype: float64

### ë§ˆë¬´ë¦¬ ì‹¤ìŠµ

1. ê¸°ì´ˆ ë°ì´í„° í™•ì¸

ë°ì´í„°ì˜ ê¸°ë³¸ ì •ë³´ë¥¼ ì¶œë ¥í•˜ê³ , ê° ì—´ì˜ ë°ì´í„° ìœ í˜•ì„ í™•ì¸í•©ë‹ˆë‹¤.  
df.info()ì™€ df.describe()ë¥¼ í™œìš©í•˜ì—¬ ë°ì´í„° ìš”ì•½ ì •ë³´ë¥¼ í™•ì¸í•˜ì„¸ìš”.

In [138]:
movie = pd.read_excel('./data/ì˜í™”ë°ì´í„°.xlsx')
movie

                   ì œëª©      ì¥ë¥´      êµ­ê°€    ì‹œê°„    í‰ì
0                ë² í…Œë‘2      ì•¡ì…˜    ëŒ€í•œë¯¼êµ­  118ë¶„  6.61
1              ë¹„ê¸´ ì–´ê²Œì¸     ë“œë¼ë§ˆ      ë¯¸êµ­  104ë¶„  9.12
2            ëŒ€ë„ì‹œì˜ ì‚¬ë‘ë²•     ë“œë¼ë§ˆ    ëŒ€í•œë¯¼êµ­  118ë¶„   NaN
3                  ë£©ë°±     ë“œë¼ë§ˆ      ì¼ë³¸   57ë¶„  9.13
4         ì—ì´ë¦¬ì–¸ : ë¡œë¬¼ë£¨ìŠ¤      ê³µí¬  ì˜êµ­, ë¯¸êµ­  119ë¶„  8.74
5             ì•ˆë…•, í• ë¶€ì§€   ë‹¤íë©˜í„°ë¦¬    ëŒ€í•œë¯¼êµ­   95ë¶„  8.61
6             ì†Œë…„ì‹œì ˆì˜ ë„ˆ  ë©œë¡œ/ë¡œë§¨ìŠ¤      ì¤‘êµ­  135ë¶„  9.05
7   ì„ì˜ì›… | ì•„ì„ íˆì–´ë¡œ ë” ìŠ¤íƒ€    ê³µì—°ì‹¤í™©    ëŒ€í•œë¯¼êµ­  108ë¶„  9.77
8    ë¸Œë ˆë“œì´ë°œì†Œ : ë¹µìŠ¤íƒ€ì˜ íƒ„ìƒ   ì• ë‹ˆë©”ì´ì…˜    ëŒ€í•œë¯¼êµ­   77ë¶„  9.60
9             ì‚¬ë‘ì˜ í•˜ì¸„í•‘   ì• ë‹ˆë©”ì´ì…˜    ëŒ€í•œë¯¼êµ­   86ë¶„  8.73
10                íŒŒì¼ëŸ¿     ì½”ë¯¸ë””    ëŒ€í•œë¯¼êµ­  111ë¶„  7.70
11            ìš°ë¦¬ê°€ ëì´ì•¼  ë©œë¡œ/ë¡œë§¨ìŠ¤      ë¯¸êµ­  130ë¶„  7.94
12             ìƒˆë²½ì˜ ëª¨ë“      ë“œë¼ë§ˆ      ì¼ë³¸  119ë¶„  8.16
13       ì •êµ­ : ì•„ì´ ì—  ìŠ¤í‹¸    ê³µì—°ì‹¤í™©    ëŒ€í•œë¯¼êµ­   94ë¶„  9.97
14   ê·¹ì¥ì´ì§‘í¸ ë´‡ì¹˜ ë” ë¡! ì „í¸   ì• ë‹ˆë©”ì´ì…˜      ì¼ë³¸   90ë¶„  8.28

In [130]:
# ê¸°ë³¸ ì •ë³´ ì¶œë ¥
movie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ì œëª©      15 non-null     object
 1   ì¥ë¥´      15 non-null     object
 2   êµ­ê°€      15 non-null     object
 3   ì‹œê°„      15 non-null     object
 4   í‰ì       14 non-null     float64
dtypes: float64(1), object(4)
memory usage: 728.0+ bytes

In [131]:
# ë°ì´í„° ìš”ì•½ ì •ë³´
movie.describe()

              í‰ì
count  14.000000
mean    8.672143
std     0.897219
min     6.610000
25%     8.190000
50%     8.735000
75%     9.127500
max     9.970000

2. ê²°ì¸¡ì¹˜ ì²˜ë¦¬

ê° ì—´ì— ìˆëŠ” ê²°ì¸¡ì¹˜ë¥¼ í™•ì¸í•˜ê³ , ê²°ì¸¡ì¹˜ê°€ ìˆëŠ” ì—´ì„ ì¶œë ¥í•˜ì„¸ìš”.  
fillna()ë¥¼ ì‚¬ìš©í•´ ê²°ì¸¡ì¹˜ë¥¼ í‰ê·  í‰ì ìœ¼ë¡œ ëŒ€ì²´í•˜ê±°ë‚˜, dropna()ë¥¼ ì‚¬ìš©í•´ ê²°ì¸¡ì¹˜ë¥¼ ì œê±°í•˜ì„¸ìš”.

In [132]:
# ê²°ì¸¡ì¹˜ í™•ì¸
movie.isnull().sum()

ì œëª©    0
ì¥ë¥´    0
êµ­ê°€    0
ì‹œê°„    0
í‰ì     1
dtype: int64

In [139]:
# í‰ê·  í‰ì ìœ¼ë¡œ ëŒ€ì²´
movie_fill = movie.fillna(movie['í‰ì '].mean())

In [140]:
movie_fill

                   ì œëª©      ì¥ë¥´      êµ­ê°€    ì‹œê°„        í‰ì
0                ë² í…Œë‘2      ì•¡ì…˜    ëŒ€í•œë¯¼êµ­  118ë¶„  6.610000
1              ë¹„ê¸´ ì–´ê²Œì¸     ë“œë¼ë§ˆ      ë¯¸êµ­  104ë¶„  9.120000
2            ëŒ€ë„ì‹œì˜ ì‚¬ë‘ë²•     ë“œë¼ë§ˆ    ëŒ€í•œë¯¼êµ­  118ë¶„  8.672143
3                  ë£©ë°±     ë“œë¼ë§ˆ      ì¼ë³¸   57ë¶„  9.130000
4         ì—ì´ë¦¬ì–¸ : ë¡œë¬¼ë£¨ìŠ¤      ê³µí¬  ì˜êµ­, ë¯¸êµ­  119ë¶„  8.740000
5             ì•ˆë…•, í• ë¶€ì§€   ë‹¤íë©˜í„°ë¦¬    ëŒ€í•œë¯¼êµ­   95ë¶„  8.610000
6             ì†Œë…„ì‹œì ˆì˜ ë„ˆ  ë©œë¡œ/ë¡œë§¨ìŠ¤      ì¤‘êµ­  135ë¶„  9.050000
7   ì„ì˜ì›… | ì•„ì„ íˆì–´ë¡œ ë” ìŠ¤íƒ€    ê³µì—°ì‹¤í™©    ëŒ€í•œë¯¼êµ­  108ë¶„  9.770000
8    ë¸Œë ˆë“œì´ë°œì†Œ : ë¹µìŠ¤íƒ€ì˜ íƒ„ìƒ   ì• ë‹ˆë©”ì´ì…˜    ëŒ€í•œë¯¼êµ­   77ë¶„  9.600000
9             ì‚¬ë‘ì˜ í•˜ì¸„í•‘   ì• ë‹ˆë©”ì´ì…˜    ëŒ€í•œë¯¼êµ­   86ë¶„  8.730000
10                íŒŒì¼ëŸ¿     ì½”ë¯¸ë””    ëŒ€í•œë¯¼êµ­  111ë¶„  7.700000
11            ìš°ë¦¬ê°€ ëì´ì•¼  ë©œë¡œ/ë¡œë§¨ìŠ¤      ë¯¸êµ­  130ë¶„  7.940000
12             ìƒˆë²½ì˜ ëª¨ë“      ë“œë¼ë§ˆ      ì¼ë³¸  119ë¶„  8.160000
13       ì •êµ­ : ì•„ì´ ì—  ìŠ¤í‹¸    ê³µì—°ì‹¤í™©    ëŒ€í•œë¯¼êµ­   94ë¶„  9.970000
14   ê·¹ì¥ì´ì§‘í¸ ë´‡ì¹˜ ë” ë¡! ì „í¸   ì• ë‹ˆë©”ì´ì…˜      ì¼ë³¸   90ë¶„  8.280000

In [141]:
# ì‚­ì œ
movie_drop = movie.dropna(inplace=False)
movie_drop

                   ì œëª©      ì¥ë¥´      êµ­ê°€    ì‹œê°„    í‰ì
0                ë² í…Œë‘2      ì•¡ì…˜    ëŒ€í•œë¯¼êµ­  118ë¶„  6.61
1              ë¹„ê¸´ ì–´ê²Œì¸     ë“œë¼ë§ˆ      ë¯¸êµ­  104ë¶„  9.12
3                  ë£©ë°±     ë“œë¼ë§ˆ      ì¼ë³¸   57ë¶„  9.13
4         ì—ì´ë¦¬ì–¸ : ë¡œë¬¼ë£¨ìŠ¤      ê³µí¬  ì˜êµ­, ë¯¸êµ­  119ë¶„  8.74
5             ì•ˆë…•, í• ë¶€ì§€   ë‹¤íë©˜í„°ë¦¬    ëŒ€í•œë¯¼êµ­   95ë¶„  8.61
6             ì†Œë…„ì‹œì ˆì˜ ë„ˆ  ë©œë¡œ/ë¡œë§¨ìŠ¤      ì¤‘êµ­  135ë¶„  9.05
7   ì„ì˜ì›… | ì•„ì„ íˆì–´ë¡œ ë” ìŠ¤íƒ€    ê³µì—°ì‹¤í™©    ëŒ€í•œë¯¼êµ­  108ë¶„  9.77
8    ë¸Œë ˆë“œì´ë°œì†Œ : ë¹µìŠ¤íƒ€ì˜ íƒ„ìƒ   ì• ë‹ˆë©”ì´ì…˜    ëŒ€í•œë¯¼êµ­   77ë¶„  9.60
9             ì‚¬ë‘ì˜ í•˜ì¸„í•‘   ì• ë‹ˆë©”ì´ì…˜    ëŒ€í•œë¯¼êµ­   86ë¶„  8.73
10                íŒŒì¼ëŸ¿     ì½”ë¯¸ë””    ëŒ€í•œë¯¼êµ­  111ë¶„  7.70
11            ìš°ë¦¬ê°€ ëì´ì•¼  ë©œë¡œ/ë¡œë§¨ìŠ¤      ë¯¸êµ­  130ë¶„  7.94
12             ìƒˆë²½ì˜ ëª¨ë“      ë“œë¼ë§ˆ      ì¼ë³¸  119ë¶„  8.16
13       ì •êµ­ : ì•„ì´ ì—  ìŠ¤í‹¸    ê³µì—°ì‹¤í™©    ëŒ€í•œë¯¼êµ­   94ë¶„  9.97
14   ê·¹ì¥ì´ì§‘í¸ ë´‡ì¹˜ ë” ë¡! ì „í¸   ì• ë‹ˆë©”ì´ì…˜      ì¼ë³¸   90ë¶„  8.28

3. ë°ì´í„° íƒ€ì… ë³€í™˜

ì‹œê°„ ì—´ì˜ ë¬¸ìì—´ ê°’(ì˜ˆ: '118ë¶„')ì„ ì •ìˆ˜í˜•ìœ¼ë¡œ ë³€í™˜í•´ ì˜í™” ì‹œê°„(ë¶„)ì„ ë‚˜íƒ€ë‚´ë„ë¡ ë³€ê²½í•˜ì„¸ìš”.

In [136]:
movie_fill['ì‹œê°„'] = movie_fill['ì‹œê°„'].str.replace('ë¶„', '').astype('int')
movie_fill

                   ì œëª©      ì¥ë¥´      êµ­ê°€   ì‹œê°„        í‰ì
0                ë² í…Œë‘2      ì•¡ì…˜    ëŒ€í•œë¯¼êµ­  118  6.610000
1              ë¹„ê¸´ ì–´ê²Œì¸     ë“œë¼ë§ˆ      ë¯¸êµ­  104  9.120000
2            ëŒ€ë„ì‹œì˜ ì‚¬ë‘ë²•     ë“œë¼ë§ˆ    ëŒ€í•œë¯¼êµ­  118  8.672143
3                  ë£©ë°±     ë“œë¼ë§ˆ      ì¼ë³¸   57  9.130000
4         ì—ì´ë¦¬ì–¸ : ë¡œë¬¼ë£¨ìŠ¤      ê³µí¬  ì˜êµ­, ë¯¸êµ­  119  8.740000
5             ì•ˆë…•, í• ë¶€ì§€   ë‹¤íë©˜í„°ë¦¬    ëŒ€í•œë¯¼êµ­   95  8.610000
6             ì†Œë…„ì‹œì ˆì˜ ë„ˆ  ë©œë¡œ/ë¡œë§¨ìŠ¤      ì¤‘êµ­  135  9.050000
7   ì„ì˜ì›… | ì•„ì„ íˆì–´ë¡œ ë” ìŠ¤íƒ€    ê³µì—°ì‹¤í™©    ëŒ€í•œë¯¼êµ­  108  9.770000
8    ë¸Œë ˆë“œì´ë°œì†Œ : ë¹µìŠ¤íƒ€ì˜ íƒ„ìƒ   ì• ë‹ˆë©”ì´ì…˜    ëŒ€í•œë¯¼êµ­   77  9.600000
9             ì‚¬ë‘ì˜ í•˜ì¸„í•‘   ì• ë‹ˆë©”ì´ì…˜    ëŒ€í•œë¯¼êµ­   86  8.730000
10                íŒŒì¼ëŸ¿     ì½”ë¯¸ë””    ëŒ€í•œë¯¼êµ­  111  7.700000
11            ìš°ë¦¬ê°€ ëì´ì•¼  ë©œë¡œ/ë¡œë§¨ìŠ¤      ë¯¸êµ­  130  7.940000
12             ìƒˆë²½ì˜ ëª¨ë“      ë“œë¼ë§ˆ      ì¼ë³¸  119  8.160000
13       ì •êµ­ : ì•„ì´ ì—  ìŠ¤í‹¸    ê³µì—°ì‹¤í™©    ëŒ€í•œë¯¼êµ­   94  9.970000
14   ê·¹ì¥ì´ì§‘í¸ ë´‡ì¹˜ ë” ë¡! ì „í¸   ì• ë‹ˆë©”ì´ì…˜      ì¼ë³¸   90  8.280000

In [146]:
new_time = []
for i in movie_fill['ì‹œê°„']:
    i = i.replace('ë¶„', '')
    new_time.append(int(i))

movie_fill['ì‹œê°„'] = new_time
movie_fill

                   ì œëª©      ì¥ë¥´      êµ­ê°€   ì‹œê°„        í‰ì
0                ë² í…Œë‘2      ì•¡ì…˜    ëŒ€í•œë¯¼êµ­  118  6.610000
1              ë¹„ê¸´ ì–´ê²Œì¸     ë“œë¼ë§ˆ      ë¯¸êµ­  104  9.120000
2            ëŒ€ë„ì‹œì˜ ì‚¬ë‘ë²•     ë“œë¼ë§ˆ    ëŒ€í•œë¯¼êµ­  118  8.672143
3                  ë£©ë°±     ë“œë¼ë§ˆ      ì¼ë³¸   57  9.130000
4         ì—ì´ë¦¬ì–¸ : ë¡œë¬¼ë£¨ìŠ¤      ê³µí¬  ì˜êµ­, ë¯¸êµ­  119  8.740000
5             ì•ˆë…•, í• ë¶€ì§€   ë‹¤íë©˜í„°ë¦¬    ëŒ€í•œë¯¼êµ­   95  8.610000
6             ì†Œë…„ì‹œì ˆì˜ ë„ˆ  ë©œë¡œ/ë¡œë§¨ìŠ¤      ì¤‘êµ­  135  9.050000
7   ì„ì˜ì›… | ì•„ì„ íˆì–´ë¡œ ë” ìŠ¤íƒ€    ê³µì—°ì‹¤í™©    ëŒ€í•œë¯¼êµ­  108  9.770000
8    ë¸Œë ˆë“œì´ë°œì†Œ : ë¹µìŠ¤íƒ€ì˜ íƒ„ìƒ   ì• ë‹ˆë©”ì´ì…˜    ëŒ€í•œë¯¼êµ­   77  9.600000
9             ì‚¬ë‘ì˜ í•˜ì¸„í•‘   ì• ë‹ˆë©”ì´ì…˜    ëŒ€í•œë¯¼êµ­   86  8.730000
10                íŒŒì¼ëŸ¿     ì½”ë¯¸ë””    ëŒ€í•œë¯¼êµ­  111  7.700000
11            ìš°ë¦¬ê°€ ëì´ì•¼  ë©œë¡œ/ë¡œë§¨ìŠ¤      ë¯¸êµ­  130  7.940000
12             ìƒˆë²½ì˜ ëª¨ë“      ë“œë¼ë§ˆ      ì¼ë³¸  119  8.160000
13       ì •êµ­ : ì•„ì´ ì—  ìŠ¤í‹¸    ê³µì—°ì‹¤í™©    ëŒ€í•œë¯¼êµ­   94  9.970000
14   ê·¹ì¥ì´ì§‘í¸ ë´‡ì¹˜ ë” ë¡! ì „í¸   ì• ë‹ˆë©”ì´ì…˜      ì¼ë³¸   90  8.280000

4. í•„í„°ë§ ë° ì¸ë±ì‹±

í‰ì ì´ 8.0 ì´ìƒì¸ ì˜í™”ë“¤ë§Œ ì„ íƒí•˜ê³ , í•´ë‹¹ ë°ì´í„°ë§Œ ì¶”ì¶œí•˜ì„¸ìš”.  
locë‚˜ ilocì„ í™œìš©í•˜ì—¬ íŠ¹ì • í–‰ê³¼ ì—´ì˜ ë°ì´í„°ë¥¼ ì„ íƒí•˜ëŠ” ì—°ìŠµì„ í•˜ì„¸ìš”.

In [112]:
movie_fill[movie_fill['í‰ì '] >= 8.0]

                   ì œëª©      ì¥ë¥´      êµ­ê°€   ì‹œê°„        í‰ì
1              ë¹„ê¸´ ì–´ê²Œì¸     ë“œë¼ë§ˆ      ë¯¸êµ­  104  9.120000
2            ëŒ€ë„ì‹œì˜ ì‚¬ë‘ë²•     ë“œë¼ë§ˆ    ëŒ€í•œë¯¼êµ­  118  8.672143
3                  ë£©ë°±     ë“œë¼ë§ˆ      ì¼ë³¸   57  9.130000
4         ì—ì´ë¦¬ì–¸ : ë¡œë¬¼ë£¨ìŠ¤      ê³µí¬  ì˜êµ­, ë¯¸êµ­  119  8.740000
5             ì•ˆë…•, í• ë¶€ì§€   ë‹¤íë©˜í„°ë¦¬    ëŒ€í•œë¯¼êµ­   95  8.610000
6             ì†Œë…„ì‹œì ˆì˜ ë„ˆ  ë©œë¡œ/ë¡œë§¨ìŠ¤      ì¤‘êµ­  135  9.050000
7   ì„ì˜ì›… | ì•„ì„ íˆì–´ë¡œ ë” ìŠ¤íƒ€    ê³µì—°ì‹¤í™©    ëŒ€í•œë¯¼êµ­  108  9.770000
8    ë¸Œë ˆë“œì´ë°œì†Œ : ë¹µìŠ¤íƒ€ì˜ íƒ„ìƒ   ì• ë‹ˆë©”ì´ì…˜    ëŒ€í•œë¯¼êµ­   77  9.600000
9             ì‚¬ë‘ì˜ í•˜ì¸„í•‘   ì• ë‹ˆë©”ì´ì…˜    ëŒ€í•œë¯¼êµ­   86  8.730000
12             ìƒˆë²½ì˜ ëª¨ë“      ë“œë¼ë§ˆ      ì¼ë³¸  119  8.160000
13       ì •êµ­ : ì•„ì´ ì—  ìŠ¤í‹¸    ê³µì—°ì‹¤í™©    ëŒ€í•œë¯¼êµ­   94  9.970000
14   ê·¹ì¥ì´ì§‘í¸ ë´‡ì¹˜ ë” ë¡! ì „í¸   ì• ë‹ˆë©”ì´ì…˜      ì¼ë³¸   90  8.280000

In [113]:
movie_fill.loc[3:5, ['ì œëª©', 'í‰ì ']]

            ì œëª©    í‰ì
3           ë£©ë°±  9.13
4  ì—ì´ë¦¬ì–¸ : ë¡œë¬¼ë£¨ìŠ¤  8.74
5      ì•ˆë…•, í• ë¶€ì§€  8.61

5. ì¡°ê±´ì— ë”°ë¥¸ í•„í„°ë§

êµ­ê°€ê°€ 'ëŒ€í•œë¯¼êµ­'ì¸ ì˜í™” ì¤‘ í‰ì ì´ 7.0 ì´ìƒì¸ ì˜í™” ëª©ë¡ì„ ì¶”ì¶œí•˜ì„¸ìš”.  
ì—¬ëŸ¬ ì¡°ê±´ì„ ì¡°í•©í•˜ì—¬ ë°ì´í„°ë¥¼ í•„í„°ë§í•˜ê³ , ê²°ê³¼ë¥¼ ì¶œë ¥í•˜ì„¸ìš”.

In [114]:
movie_fill[(movie_fill['êµ­ê°€'] == 'ëŒ€í•œë¯¼êµ­') & (movie_fill['í‰ì '] >= 7.0)]

                   ì œëª©     ì¥ë¥´    êµ­ê°€   ì‹œê°„        í‰ì
2            ëŒ€ë„ì‹œì˜ ì‚¬ë‘ë²•    ë“œë¼ë§ˆ  ëŒ€í•œë¯¼êµ­  118  8.672143
5             ì•ˆë…•, í• ë¶€ì§€  ë‹¤íë©˜í„°ë¦¬  ëŒ€í•œë¯¼êµ­   95  8.610000
7   ì„ì˜ì›… | ì•„ì„ íˆì–´ë¡œ ë” ìŠ¤íƒ€   ê³µì—°ì‹¤í™©  ëŒ€í•œë¯¼êµ­  108  9.770000
8    ë¸Œë ˆë“œì´ë°œì†Œ : ë¹µìŠ¤íƒ€ì˜ íƒ„ìƒ  ì• ë‹ˆë©”ì´ì…˜  ëŒ€í•œë¯¼êµ­   77  9.600000
9             ì‚¬ë‘ì˜ í•˜ì¸„í•‘  ì• ë‹ˆë©”ì´ì…˜  ëŒ€í•œë¯¼êµ­   86  8.730000
10                íŒŒì¼ëŸ¿    ì½”ë¯¸ë””  ëŒ€í•œë¯¼êµ­  111  7.700000
13       ì •êµ­ : ì•„ì´ ì—  ìŠ¤í‹¸   ê³µì—°ì‹¤í™©  ëŒ€í•œë¯¼êµ­   94  9.970000

6. ì»¬ëŸ¼ëª… ìˆ˜ì • ë° ì •ë ¬

ì¥ë¥´ ì—´ì„ â€˜ì˜í™”ì¥ë¥´â€™ë¡œ, ì‹œê°„ ì—´ì„ â€˜ìƒì˜ì‹œê°„â€™ìœ¼ë¡œ ìˆ˜ì •í•˜ì„¸ìš”.  
í‰ì ì„ ê¸°ì¤€ìœ¼ë¡œ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬í•˜ê³ , ìƒìœ„ 10ê°œì˜ ì˜í™”ë¥¼ ì¶œë ¥í•˜ì„¸ìš”.

In [115]:
movie_rename = movie_fill.rename(columns={'ì¥ë¥´': 'ì˜í™”ì¥ë¥´', 'ì‹œê°„': 'ìƒì˜ì‹œê°„'})
movie_rename

                   ì œëª©    ì˜í™”ì¥ë¥´      êµ­ê°€  ìƒì˜ì‹œê°„        í‰ì
0                ë² í…Œë‘2      ì•¡ì…˜    ëŒ€í•œë¯¼êµ­   118  6.610000
1              ë¹„ê¸´ ì–´ê²Œì¸     ë“œë¼ë§ˆ      ë¯¸êµ­   104  9.120000
2            ëŒ€ë„ì‹œì˜ ì‚¬ë‘ë²•     ë“œë¼ë§ˆ    ëŒ€í•œë¯¼êµ­   118  8.672143
3                  ë£©ë°±     ë“œë¼ë§ˆ      ì¼ë³¸    57  9.130000
4         ì—ì´ë¦¬ì–¸ : ë¡œë¬¼ë£¨ìŠ¤      ê³µí¬  ì˜êµ­, ë¯¸êµ­   119  8.740000
5             ì•ˆë…•, í• ë¶€ì§€   ë‹¤íë©˜í„°ë¦¬    ëŒ€í•œë¯¼êµ­    95  8.610000
6             ì†Œë…„ì‹œì ˆì˜ ë„ˆ  ë©œë¡œ/ë¡œë§¨ìŠ¤      ì¤‘êµ­   135  9.050000
7   ì„ì˜ì›… | ì•„ì„ íˆì–´ë¡œ ë” ìŠ¤íƒ€    ê³µì—°ì‹¤í™©    ëŒ€í•œë¯¼êµ­   108  9.770000
8    ë¸Œë ˆë“œì´ë°œì†Œ : ë¹µìŠ¤íƒ€ì˜ íƒ„ìƒ   ì• ë‹ˆë©”ì´ì…˜    ëŒ€í•œë¯¼êµ­    77  9.600000
9             ì‚¬ë‘ì˜ í•˜ì¸„í•‘   ì• ë‹ˆë©”ì´ì…˜    ëŒ€í•œë¯¼êµ­    86  8.730000
10                íŒŒì¼ëŸ¿     ì½”ë¯¸ë””    ëŒ€í•œë¯¼êµ­   111  7.700000
11            ìš°ë¦¬ê°€ ëì´ì•¼  ë©œë¡œ/ë¡œë§¨ìŠ¤      ë¯¸êµ­   130  7.940000
12             ìƒˆë²½ì˜ ëª¨ë“      ë“œë¼ë§ˆ      ì¼ë³¸   119  8.160000
13       ì •êµ­ : ì•„ì´ ì—  ìŠ¤í‹¸    ê³µì—°ì‹¤í™©    ëŒ€í•œë¯¼êµ­    94  9.970000
14   ê·¹ì¥ì´ì§‘í¸ ë´‡ì¹˜ ë” ë¡! ì „í¸   ì• ë‹ˆë©”ì´ì…˜      ì¼ë³¸    90  8.280000

In [116]:
movie_sort = movie_rename.sort_values(by='í‰ì ', ascending=False)
movie_sort = movie_sort.reset_index(drop=True)
movie_sort.head(10)

                  ì œëª©    ì˜í™”ì¥ë¥´      êµ­ê°€  ìƒì˜ì‹œê°„        í‰ì
0       ì •êµ­ : ì•„ì´ ì—  ìŠ¤í‹¸    ê³µì—°ì‹¤í™©    ëŒ€í•œë¯¼êµ­    94  9.970000
1  ì„ì˜ì›… | ì•„ì„ íˆì–´ë¡œ ë” ìŠ¤íƒ€    ê³µì—°ì‹¤í™©    ëŒ€í•œë¯¼êµ­   108  9.770000
2   ë¸Œë ˆë“œì´ë°œì†Œ : ë¹µìŠ¤íƒ€ì˜ íƒ„ìƒ   ì• ë‹ˆë©”ì´ì…˜    ëŒ€í•œë¯¼êµ­    77  9.600000
3                 ë£©ë°±     ë“œë¼ë§ˆ      ì¼ë³¸    57  9.130000
4             ë¹„ê¸´ ì–´ê²Œì¸     ë“œë¼ë§ˆ      ë¯¸êµ­   104  9.120000
5            ì†Œë…„ì‹œì ˆì˜ ë„ˆ  ë©œë¡œ/ë¡œë§¨ìŠ¤      ì¤‘êµ­   135  9.050000
6        ì—ì´ë¦¬ì–¸ : ë¡œë¬¼ë£¨ìŠ¤      ê³µí¬  ì˜êµ­, ë¯¸êµ­   119  8.740000
7            ì‚¬ë‘ì˜ í•˜ì¸„í•‘   ì• ë‹ˆë©”ì´ì…˜    ëŒ€í•œë¯¼êµ­    86  8.730000
8           ëŒ€ë„ì‹œì˜ ì‚¬ë‘ë²•     ë“œë¼ë§ˆ    ëŒ€í•œë¯¼êµ­   118  8.672143
9            ì•ˆë…•, í• ë¶€ì§€   ë‹¤íë©˜í„°ë¦¬    ëŒ€í•œë¯¼êµ­    95  8.610000

7. ì¤‘ë³µê°’ ì œê±°

ì˜í™” ì œëª©ì— ì¤‘ë³µëœ ê°’ì´ ìˆëŠ”ì§€ í™•ì¸í•˜ê³ , ì¤‘ë³µëœ ì˜í™”ê°€ ìˆë‹¤ë©´ ì œê±°í•˜ì„¸ìš”.

In [117]:
movie_sort.duplicated(subset=['ì œëª©'])

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
dtype: bool

In [118]:
movie_dropd = movie_sort.drop_duplicates(subset=['ì œëª©'])
movie_dropd

                   ì œëª©    ì˜í™”ì¥ë¥´      êµ­ê°€  ìƒì˜ì‹œê°„        í‰ì
0        ì •êµ­ : ì•„ì´ ì—  ìŠ¤í‹¸    ê³µì—°ì‹¤í™©    ëŒ€í•œë¯¼êµ­    94  9.970000
1   ì„ì˜ì›… | ì•„ì„ íˆì–´ë¡œ ë” ìŠ¤íƒ€    ê³µì—°ì‹¤í™©    ëŒ€í•œë¯¼êµ­   108  9.770000
2    ë¸Œë ˆë“œì´ë°œì†Œ : ë¹µìŠ¤íƒ€ì˜ íƒ„ìƒ   ì• ë‹ˆë©”ì´ì…˜    ëŒ€í•œë¯¼êµ­    77  9.600000
3                  ë£©ë°±     ë“œë¼ë§ˆ      ì¼ë³¸    57  9.130000
4              ë¹„ê¸´ ì–´ê²Œì¸     ë“œë¼ë§ˆ      ë¯¸êµ­   104  9.120000
5             ì†Œë…„ì‹œì ˆì˜ ë„ˆ  ë©œë¡œ/ë¡œë§¨ìŠ¤      ì¤‘êµ­   135  9.050000
6         ì—ì´ë¦¬ì–¸ : ë¡œë¬¼ë£¨ìŠ¤      ê³µí¬  ì˜êµ­, ë¯¸êµ­   119  8.740000
7             ì‚¬ë‘ì˜ í•˜ì¸„í•‘   ì• ë‹ˆë©”ì´ì…˜    ëŒ€í•œë¯¼êµ­    86  8.730000
8            ëŒ€ë„ì‹œì˜ ì‚¬ë‘ë²•     ë“œë¼ë§ˆ    ëŒ€í•œë¯¼êµ­   118  8.672143
9             ì•ˆë…•, í• ë¶€ì§€   ë‹¤íë©˜í„°ë¦¬    ëŒ€í•œë¯¼êµ­    95  8.610000
10   ê·¹ì¥ì´ì§‘í¸ ë´‡ì¹˜ ë” ë¡! ì „í¸   ì• ë‹ˆë©”ì´ì…˜      ì¼ë³¸    90  8.280000
11             ìƒˆë²½ì˜ ëª¨ë“      ë“œë¼ë§ˆ      ì¼ë³¸   119  8.160000
12            ìš°ë¦¬ê°€ ëì´ì•¼  ë©œë¡œ/ë¡œë§¨ìŠ¤      ë¯¸êµ­   130  7.940000
13                íŒŒì¼ëŸ¿     ì½”ë¯¸ë””    ëŒ€í•œë¯¼êµ­   111  7.700000
14               ë² í…Œë‘2      ì•¡ì…˜    ëŒ€í•œë¯¼êµ­   118  6.610000

8. ê·¸ë£¹ë³„ í†µê³„

ì¥ë¥´ë³„ë¡œ í‰ì ì˜ í‰ê· ì„ ê³„ì‚°í•˜ê³ , ê° ì¥ë¥´ë³„ í‰ê·  í‰ì ì„ ì¶œë ¥í•˜ì„¸ìš”.  
groupbyë¥¼ ì‚¬ìš©í•˜ì—¬ íŠ¹ì • ì—´ì— ëŒ€í•œ í†µê³„ ê°’ì„ êµ¬í•˜ì„¸ìš”.

In [119]:
movie_dropd.groupby('ì˜í™”ì¥ë¥´')['í‰ì '].mean()

ì˜í™”ì¥ë¥´
ê³µì—°ì‹¤í™©      9.870000
ê³µí¬        8.740000
ë‹¤íë©˜í„°ë¦¬     8.610000
ë“œë¼ë§ˆ       8.770536
ë©œë¡œ/ë¡œë§¨ìŠ¤    8.495000
ì• ë‹ˆë©”ì´ì…˜     8.870000
ì•¡ì…˜        6.610000
ì½”ë¯¸ë””       7.700000
Name: í‰ì , dtype: float64

In [120]:
movie_dropd.groupby('êµ­ê°€')['ìƒì˜ì‹œê°„'].mean()

êµ­ê°€
ëŒ€í•œë¯¼êµ­      100.875000
ë¯¸êµ­        117.000000
ì˜êµ­, ë¯¸êµ­    119.000000
ì¼ë³¸         88.666667
ì¤‘êµ­        135.000000
Name: ìƒì˜ì‹œê°„, dtype: float64

9. ë°ì´í„° ë³‘í•©ê³¼ ê²°í•©

ìƒˆë¡œìš´ ì˜í™” ë°ì´í„°ë¥¼ ì¶”ê°€í•˜ì—¬ concat()ì„ ì‚¬ìš©í•´ ê¸°ì¡´ ë°ì´í„°í”„ë ˆì„ì— ë³‘í•©í•˜ì„¸ìš”.  
merge()ë¥¼ í™œìš©í•´ ê° ì˜í™”ì— ê°ë… ì´ë¦„ê³¼ ê°™ì€ ìƒˆë¡œìš´ ì •ë³´ë¥¼ ì¶”ê°€í•´ ë³´ì„¸ìš” (í•„ìš”ì‹œ ê°€ìƒ ë°ì´í„°ë¥¼ ìƒì„±í•´ ì‹œë„í•´ ë³¼ ìˆ˜ ìˆìŠµë‹ˆë‹¤).

In [121]:
new_data = pd.DataFrame({
    'ì œëª©': ['ì˜í™”A', 'ì˜í™”B'],
    'ì˜í™”ì¥ë¥´': ['ì•¡ì…˜', 'ë“œë¼ë§ˆ'],
    'êµ­ê°€': ['ëŒ€í•œë¯¼êµ­', 'ë¯¸êµ­'],
    'ìƒì˜ì‹œê°„': [110, 95],
    'í‰ì ': [8.5, 7.9]
})

In [122]:
movie_con = pd.concat([movie_dropd, new_data], ignore_index=True)
movie_con

                   ì œëª©    ì˜í™”ì¥ë¥´      êµ­ê°€  ìƒì˜ì‹œê°„        í‰ì
0        ì •êµ­ : ì•„ì´ ì—  ìŠ¤í‹¸    ê³µì—°ì‹¤í™©    ëŒ€í•œë¯¼êµ­    94  9.970000
1   ì„ì˜ì›… | ì•„ì„ íˆì–´ë¡œ ë” ìŠ¤íƒ€    ê³µì—°ì‹¤í™©    ëŒ€í•œë¯¼êµ­   108  9.770000
2    ë¸Œë ˆë“œì´ë°œì†Œ : ë¹µìŠ¤íƒ€ì˜ íƒ„ìƒ   ì• ë‹ˆë©”ì´ì…˜    ëŒ€í•œë¯¼êµ­    77  9.600000
3                  ë£©ë°±     ë“œë¼ë§ˆ      ì¼ë³¸    57  9.130000
4              ë¹„ê¸´ ì–´ê²Œì¸     ë“œë¼ë§ˆ      ë¯¸êµ­   104  9.120000
5             ì†Œë…„ì‹œì ˆì˜ ë„ˆ  ë©œë¡œ/ë¡œë§¨ìŠ¤      ì¤‘êµ­   135  9.050000
6         ì—ì´ë¦¬ì–¸ : ë¡œë¬¼ë£¨ìŠ¤      ê³µí¬  ì˜êµ­, ë¯¸êµ­   119  8.740000
7             ì‚¬ë‘ì˜ í•˜ì¸„í•‘   ì• ë‹ˆë©”ì´ì…˜    ëŒ€í•œë¯¼êµ­    86  8.730000
8            ëŒ€ë„ì‹œì˜ ì‚¬ë‘ë²•     ë“œë¼ë§ˆ    ëŒ€í•œë¯¼êµ­   118  8.672143
9             ì•ˆë…•, í• ë¶€ì§€   ë‹¤íë©˜í„°ë¦¬    ëŒ€í•œë¯¼êµ­    95  8.610000
10   ê·¹ì¥ì´ì§‘í¸ ë´‡ì¹˜ ë” ë¡! ì „í¸   ì• ë‹ˆë©”ì´ì…˜      ì¼ë³¸    90  8.280000
11             ìƒˆë²½ì˜ ëª¨ë“      ë“œë¼ë§ˆ      ì¼ë³¸   119  8.160000
12            ìš°ë¦¬ê°€ ëì´ì•¼  ë©œë¡œ/ë¡œë§¨ìŠ¤      ë¯¸êµ­   130  7.940000
13                íŒŒì¼ëŸ¿     ì½”ë¯¸ë””    ëŒ€í•œë¯¼êµ­   111  7.700000
14               ë² í…Œë‘2      ì•¡ì…˜    ëŒ€í•œë¯¼êµ­   118  6.610000
15                ì˜í™”A      ì•¡ì…˜    ëŒ€í•œë¯¼êµ­   110  8.500000
16                ì˜í™”B     ë“œë¼ë§ˆ      ë¯¸êµ­    95  7.900000

In [123]:
director = {
    'ì œëª©': ['ì •êµ­ : ì•„ì´ ì—  ìŠ¤í‹¸', 'ì„ì˜ì›… | ì•„ì„ íˆì–´ë¡œ ë” ìŠ¤íƒ€', 'ë¸Œë ˆë“œì´ë°œì†Œ : ë¹µìŠ¤íƒ€ì˜ íƒ„ìƒ', 'ë£©ë°±', 'ë¹„ê¸´ ì–´ê²Œì¸', 'ì†Œë…„ì‹œì ˆì˜ ë„ˆ', 'ì—ì´ë¦¬ì–¸ : ë¡œë¬¼ë£¨ìŠ¤', 'ì‚¬ë‘ì˜ í•˜ì¸„í•‘'],
    'ì˜í™”ê°ë…': ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']
}

director_df = pd.DataFrame(director)
director_df

                  ì œëª© ì˜í™”ê°ë…
0       ì •êµ­ : ì•„ì´ ì—  ìŠ¤í‹¸    A
1  ì„ì˜ì›… | ì•„ì„ íˆì–´ë¡œ ë” ìŠ¤íƒ€    B
2   ë¸Œë ˆë“œì´ë°œì†Œ : ë¹µìŠ¤íƒ€ì˜ íƒ„ìƒ    C
3                 ë£©ë°±    D
4             ë¹„ê¸´ ì–´ê²Œì¸    E
5            ì†Œë…„ì‹œì ˆì˜ ë„ˆ    F
6        ì—ì´ë¦¬ì–¸ : ë¡œë¬¼ë£¨ìŠ¤    G
7            ì‚¬ë‘ì˜ í•˜ì¸„í•‘    H

In [124]:
movie_merge = pd.merge(movie_con, director_df, on='ì œëª©')
movie_merge

                  ì œëª©    ì˜í™”ì¥ë¥´      êµ­ê°€  ìƒì˜ì‹œê°„    í‰ì  ì˜í™”ê°ë…
0       ì •êµ­ : ì•„ì´ ì—  ìŠ¤í‹¸    ê³µì—°ì‹¤í™©    ëŒ€í•œë¯¼êµ­    94  9.97    A
1  ì„ì˜ì›… | ì•„ì„ íˆì–´ë¡œ ë” ìŠ¤íƒ€    ê³µì—°ì‹¤í™©    ëŒ€í•œë¯¼êµ­   108  9.77    B
2   ë¸Œë ˆë“œì´ë°œì†Œ : ë¹µìŠ¤íƒ€ì˜ íƒ„ìƒ   ì• ë‹ˆë©”ì´ì…˜    ëŒ€í•œë¯¼êµ­    77  9.60    C
3                 ë£©ë°±     ë“œë¼ë§ˆ      ì¼ë³¸    57  9.13    D
4             ë¹„ê¸´ ì–´ê²Œì¸     ë“œë¼ë§ˆ      ë¯¸êµ­   104  9.12    E
5            ì†Œë…„ì‹œì ˆì˜ ë„ˆ  ë©œë¡œ/ë¡œë§¨ìŠ¤      ì¤‘êµ­   135  9.05    F
6        ì—ì´ë¦¬ì–¸ : ë¡œë¬¼ë£¨ìŠ¤      ê³µí¬  ì˜êµ­, ë¯¸êµ­   119  8.74    G
7            ì‚¬ë‘ì˜ í•˜ì¸„í•‘   ì• ë‹ˆë©”ì´ì…˜    ëŒ€í•œë¯¼êµ­    86  8.73    H

10. ë°ì´í„° ì €ì¥

ìµœì¢…ì ìœ¼ë¡œ ì •ë¦¬ëœ ë°ì´í„°ë¥¼ Excel ë˜ëŠ” CSV íŒŒì¼ë¡œ ì €ì¥í•˜ì—¬, ë°ì´í„° ë³€í™˜ ë° ì²˜ë¦¬ê°€ ì™„ë£Œëœ íŒŒì¼ì„ ì¶œë ¥í•´ ë³´ì„¸ìš”.

In [125]:
movie_merge.to_excel('./data/ì˜í™”ë°ì´í„°_ì‹¤ìŠµ.xlsx', index=False)

In [126]:
pd.read_excel('./data/ì˜í™”ë°ì´í„°_ì‹¤ìŠµ.xlsx')

                  ì œëª©    ì˜í™”ì¥ë¥´      êµ­ê°€  ìƒì˜ì‹œê°„    í‰ì  ì˜í™”ê°ë…
0       ì •êµ­ : ì•„ì´ ì—  ìŠ¤í‹¸    ê³µì—°ì‹¤í™©    ëŒ€í•œë¯¼êµ­    94  9.97    A
1  ì„ì˜ì›… | ì•„ì„ íˆì–´ë¡œ ë” ìŠ¤íƒ€    ê³µì—°ì‹¤í™©    ëŒ€í•œë¯¼êµ­   108  9.77    B
2   ë¸Œë ˆë“œì´ë°œì†Œ : ë¹µìŠ¤íƒ€ì˜ íƒ„ìƒ   ì• ë‹ˆë©”ì´ì…˜    ëŒ€í•œë¯¼êµ­    77  9.60    C
3                 ë£©ë°±     ë“œë¼ë§ˆ      ì¼ë³¸    57  9.13    D
4             ë¹„ê¸´ ì–´ê²Œì¸     ë“œë¼ë§ˆ      ë¯¸êµ­   104  9.12    E
5            ì†Œë…„ì‹œì ˆì˜ ë„ˆ  ë©œë¡œ/ë¡œë§¨ìŠ¤      ì¤‘êµ­   135  9.05    F
6        ì—ì´ë¦¬ì–¸ : ë¡œë¬¼ë£¨ìŠ¤      ê³µí¬  ì˜êµ­, ë¯¸êµ­   119  8.74    G
7            ì‚¬ë‘ì˜ í•˜ì¸„í•‘   ì• ë‹ˆë©”ì´ì…˜    ëŒ€í•œë¯¼êµ­    86  8.73    H